{% extends 'default/index.html.twig' %}
{% block bodyindex %}

<html>
<head></head>
<body>
<form action="" method="GET">
    <div class="form-group">
        <label for="video">Enfant : </label>
        <select name="enfant">
            <option value="">Selectionner un enfant</option>
            {% for item in enfants %}
                <option {%if params.enfant is defined and params.enfant == item.id %}selected{% endif%} value="{{item.id}}">{{item.nom~" "~item.prenom}}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label for="video">Thème de quiz : </label>
        <select name="theme">
            <option value="">Selectionner un thème</option>
            <option {%if params.theme is defined and params.theme == "Mathématique" %}selected{% endif%} value="Mathématique">Mathématique</option>
            <option {%if params.theme is defined and params.theme == "Science" %}selected{% endif%} value="Science">Science</option>
            <option {%if params.theme is defined and params.theme == "Culture Générale" %}selected{% endif%} value="Culture Générale">Culture Générale</option>
            <option {%if params.theme is defined and params.theme == "Langue" %}selected{% endif%} value="Langue">Langue</option>
        </select>
    </div>
    <button type="submit" id="refresh_chart">Valider</button>
</form>
<div id="div_chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw(chart, 'div_chart') }}
</script>
</body>
</html>
{% endblock %}
