{% extends 'default/index.html.twig' %}
{% block bodyindex %}
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Paramétre</h1>
                    <ul id="breadcrumbs">
                        <li><a href="{{ path('accueil') }}" title="Home">Mon compte</a></li> <span class="delimiter">&gt;</span>
                        <li><span class="current_crumb">Paramétre</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>



    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container single-sidebar">
                            <main>
                                <div class='grid-row clearfix'>
                                    <div class='grid-col grid-col-12'>
                                        <section class='cws-widget'>
                                            <section class='cws_widget_content'>
                                                <div class="woocommerce">

                                                    <form name="checkout" method="post" class="checkout woocommerce-checkout" action="shop-checkout.html" enctype="multipart/form-data">
                                                       <table><th/><th/><th/><th/>
                                                        <div class="col2-set" id="customer_details">
                                                            <div class="col-1">
                                                                <div class="woocommerce-billing-fields">
                                                                    <div class="questions">
                                                                        <div class="question-bloc">

                                                                   <tr><p class="form-row form-row-first validate-required" id="billing_first_name_field">
                                                                        <label for="billing_first_name" class="">Nom
                                                                            <abbr class="required" title="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" class="input-text " name="nom[1]" id="nom" placeholder="" value="" />
                                                                    </p></tr>
                                                                            <tr> <p class="form-row form-row-first validate-required" id="billing_last_name_field">
                                                                        <label for="billing_first_name" class="">Prénom
                                                                            <abbr class="required" title="required">*</abbr>
                                                                        </label>
                                                                        <input type="text" class="input-text " name="prenom[1]" id="prenom" placeholder="" value="" />
                                                                            </tr>  </p>
                                                                            <tr> <p class="form-row form-row-first address-field update_totals_on_change validate-required" id="categorie" name="categorie">
                                                                        <label for="billing_country" class="">categorie age
                                                                            <abbr class="required" title="required">*</abbr>
                                                                        </label>
                                                                        <select name="categorie[1]" id="billing_country" class="country_to_state country_select ">

                                                                           <option>aaa</option>
                                                                           <option>bbbb</option>
                                                                       </select>
                                                                            </tr> </p>

                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                   <tr><button id="add_question" class="btn-info"><i class="fa fa-plus-circle"></i>+</button>
                                                                   </tr>  <br/>
                                                                </div>
                                                                <p class="form-row">

                                                                    <input type="submit" class="button" name="login" value="Login" />

                                                                </p>
                                                            </div>

                                                        </div>
                                                       </table>
                                                    </form>
                                                </div>
                                            </section>
                                        </section>
                                    </div>
                                </div>
                                <!-- comments block -->
                                <!-- //end comments block -->
                            </main>

                            <div class="kids_clear"></div>
                        </div>
                        <!-- .entry-container -->
                    </div>
                </div>

            </section>
            <!-- .bottom_content_container -->
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {

        $( "#add_question" ).click(function(e) {
            e.preventDefault();
            //on récupère la dérniere question pour qu'on ajoute une autre question avec l'incrémentation de cet index
            var numItems = jQuery(".reponses-bloc").length + 1;

            //on crée un morceau de notre question pour qu'on l'ajoute
            var dynamic_question = '<div class="question-bloc">'+
                '<tr> <p class="form-row form-row-first validate-required" id="billing_first_name_field">'+
                '<label for="billing_first_name" class="">Nom'+
                '<abbr class="required" title="required">*</abbr>'+
                '</label>'+
                '<input type="text" class="input-text " name="nom['+numItems+']" id="nom" placeholder="" value="" />'+
                '</p></tr> '+
            '<tr> <p class="form-row form-row-first validate-required" id="billing_last_name_field">'+
            '<label for="billing_first_name" class="">Prénom'+
            '<abbr class="required" title="required">*</abbr>'+
            '</label>'+
            '<input type="text" class="input-text " name="prenom['+numItems+']" id="prenom" placeholder="" value="" />'+
            '</p></tr> '+
            '<tr> <p class="form-row form-row-first address-field update_totals_on_change validate-required" id="categorie" name="categorie">'+
            '<label for="billing_country" class="">categorie age'+
            '<abbr class="required" title="required">*</abbr>'+
            '</label>'+
            '<select name="categorie['+numItems+']" id="billing_country" class="country_to_state country_select ">'+
            '<option>aaa</option>'+
            '<option>bbbb</option>'+
            '</select>'+
            '</p></tr> '+

                '				</div>'+
                '			</div>';



            //Concaténation de la nouvelle question
            $( ".questions" ).append(dynamic_question);
        });


    });
    </script>

{% endblock %}

