
{% extends 'default/index.html.twig' %}
{% block bodyindex %}

  <div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
      <div class="kids_top_content_middle ">
        <div class="header_container ">
          <div class="l-page-width">
            <h1>Avis</h1>
            <ul id="breadcrumbs">
              <li><a href="index.html" title="{{ path ('accueil') }}">Home</a></li> <span class="delimiter">&gt;</span>
              <li><span class="current_crumb">Liste Babysitter</span></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
      <div class="bg-level-2-page-width-container no-padding">
        <section class="kids_bottom_content_container">
          <!-- ***************** - START Image floating - *************** -->
          <div class="page-content">
            <div class="bg-level-2 first-part"></div>
            <div class="container l-page-width">
              <div class="entry-container single-sidebar">
                <aside id="sidebar-left">
                  <div class="widget widget_cws_tweets">
                    <div class='cws-widget-content '>
                      <div class='carousel_header clearfix'>
                        <div class='widget_carousel_nav'><i class='prev fa fa-angle-left'></i><i class='next fa fa-angle-right'></i>
                        </div>
                        <h3 class="widget-title">Linkedin</h3></div>
                      <div class='carousel_content cws_tweets'>
                        <div>{{ socialLink('linkedin',{'url': 'http://www.nomaya.net'}) }} </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget widget_cws_tweets">
                    <div class='cws-widget-content '>
                      <div class='carousel_header clearfix'>
                        <div class='widget_carousel_nav'><i class='prev fa fa-angle-left'></i><i class='next fa fa-angle-right'></i>
                        </div>
                        <h3 class="widget-title">GooGle Plus</h3></div>
                      <div class='carousel_content cws_tweets'>
                        <div>{{ socialButtons( {'googleplus':false, 'facebook':false, 'linkedin':false} ) }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="widget widget_cws_tweets">
                    <div class='cws-widget-content '>
                      <div class='carousel_header clearfix'>
                        <div class='widget_carousel_nav'><i class='prev fa fa-angle-left'></i><i class='next fa fa-angle-right'></i>
                        </div>
                        <h3 class="widget-title">Twitter</h3></div>
                      <div class='carousel_content cws_tweets'>
                        <div>{{ twitterButton() }}</div>
                      </div>
                    </div>
                  </div>
                </aside>
                <main>
                  <div class='grid-row clearfix'>
                    <div class='grid-col grid-col-12'>
                      <section class='cws-widget'>
                        <div class='widget-title'>Welcome to the Avis page</div>
                        <section class='cws_widget_content'>
                          <p><img class="alignleft border size-medium" src="{{ asset('images/' ~ baby.nomimage ) }}" alt="500x500_1" width="300" height="300" /></p>
                          <h2>{{ baby.username }}</h2>
                          <p></p>
                          </section>
                      </section>
                    </div>
                  </div>
                  <div class='grid-row clearfix'>
                    <div class='grid-col grid-col-6'>
                      <section class='cws-widget'>
                        <section class='cws_widget_content'>
                          <ul>
                            <li>Sexe: {{ baby.sexe }}</li>
                            <li>Etat: {{ baby.etat }}</li>
                            <li>Age: {{ baby.age }}</li>
                            <li>Ville: {{ baby.ville }}</li>
                            <li>Adresse: {{ baby.adresse }}</li>
                            <li>Email: {{ baby.email }}</li>
                            <li>numero de téléphone: {{ baby.numTel }}</li>
                          </ul>
                        </section>
                      </section>
                    </div>
                  </div>
                  <div class='grid-row clearfix'>
                    <div class='grid-col grid-col-12'>
                      <section class='cws-widget'>
                        <section class='cws_widget_content'>
                          <hr />
                        </section>
                      </section>
                    </div>
                  </div>


              <div class='grid-row clearfix'>
                <div class='grid-col grid-col-12'>
                  <section class='cws-widget'>
                    <div class='widget-title'>Les Avis Des Parents</div>
                    <section class='cws_widget_content'>
                      </section>

                  <section class='cws-widget'>
                    <section class='cws_widget_content accordion_widget'>
                        {% for avis in Avis %}
                      <div class='accordion_section active'>
                        <div class='accordion_title'>{{ avis.idparent.username }}<i class='accordion_icon'></i></div>
                        <div class='accordion_content'>{{ avis.monAvis }}</div>
                          {% if ((app.user.id==avis.idparent.id) and (is_granted('ROLE_PARENT') )) %}
                            <a href="{{ path('UpdateAvis', { 'id': avis.id, 'idA': app.getUser().getId(),'idb': avis.idBabysitter.id }) }}">update</a>
                            <a href="{{ path('removeAvis', { 'id': avis.id,'idb': avis.idBabysitter.id,'idU': app.getUser().getId() }) }}">Delete</a>
                          {% endif %}
                      </div>
                        {% endfor %}

                    </section>
                      {{ form(Form) }}
                     </section>
                  </section>

                </div>
              </div>

              </main>

            </div>

          </div>

      </div>

      </section>

    </div>


  </div>


{% endblock bodyindex %}