{% extends '@AllForKidsMain/Admin/show.html.twig' %}
{% block bodyadmin %}
    <html>
    <style>
        .reponses-bloc{
            margin-left: 30px;
        }
        .question-bloc {
            margin-bottom: 14px;
            border: 2px solid #353535;
            padding-bottom: 7px;
            padding: 17px;
        }
        .add_response{
            margin-top: 9px;
        }
        .reponses-bloc{
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 9px;
        }
        .reponse {
            margin-bottom: 5px;
        }
        .form-group label {
            width: 110px;
            display: inline-block;
        }
        .form-group {
            margin-bottom: 6px;
        }
        input[type="text"] {
            width: 241px;
            height: 25px;
        }
    </style>
    <head>


    </head>

<body>

<form action="{{path('AjoutLesson')}}" method="post" enctype="multipart/form-data" id="f" >

    <div class="form-group">
        <label for="quiz"> Piéce jointe : </label><input type="file" name="joint" />
    </div>
    <div class="form-group">
        <label for="quiz">Thème de quiz : </label>
        <select type="text" name="theme" id="theme">
            <option value="Mathématique">Mathématique</option>
            <option value="Science">Science</option>
            <option value="Culture Générale">Culture Générale</option>
            <option value="Langue">Langue</option>
        </select>
    </div>
    <div class="form-group">
        <label for="quiz">Catégorie age : </label>
        <select type="text" name="category" >
            <option>4-6</option>
            <option>7-9</option>
            <option>10-12</option>
            <option>13-15</option>
        </select>
    </div>
    <input type="submit" value="Valider"/><input type="reset" value="Annuler"/>
</form>
</body>
    </html>



{% endblock %}