{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}

{% block addvaccin %}

    <div class="form-style-10">
    <h1>Ajouter un Vaccin</h1>


    {{ form_start(f) }}

    <div class="section"><span>1</span></div>
    <div class="inner-wrap">
        <label>{{ form_widget(f.nom,{'attr':{'placeholder':'Entrer le nom du vaccin'}}) }}</label>
    </div>
    <div class="inner-wrap">
        <label>{{ form_widget(f.Age,{'attr':{'placeholder':'Age dédié en mois'}})}}</label>
    </div>
    <div class="inner-wrap">
         <label>{{ form_widget(f.Matricule,{'attr':{'placeholder':'Matricule du vaccin'}}) }}</label>
    </div>


    <div class="inner-wrap">
        <label>{{ form_widget(f.description,{'attr':{'placeholder':'Description du vaccin'}}) }}</label>
    </div>


    <div class="button-section">
    {{ form_widget(f.Ajouter) }}
    </div>


    {{ form_end(f) }}


    </div>


{% endblock addvaccin %}