{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}

{% block bodyhome %}

<div class='widget-title'>Liste des vaccins:</div>
<section class='cws_widget_content'>
    {% if is_granted('ROLE_PEDIATRE') %}
    <a href="{{ path('espace_sante_AddVaccin') }}">Ajouter un vaccin</a>

    <table>
        <thead>
        <tr class="row100 head">
            <th class="cell100 column1">Vaccin</th>
            <th class="cell100 column2">Matricule</th>
            <th class="cell100 column3">Age</th>
            <th class="cell100 column4">Description</th>
            {% if is_granted('ROLE_PEDIATRE') %}
                <th class="cell100 column5">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for i in item %}
            <tr>
                <td>{{ i.nom }}</td>
                <td>{{ i.matricule }}</td>
                <td>{{ i.age }} mois</td>
                <td>{{ i.description }}</td>
                {% if is_granted('ROLE_PEDIATRE') %}
                    <td>



                        <a  href="{{ path('espace_sante_deleteVaccin', {'id': i.id })}}" >Supprimer</a>
                        <a href="{{ path('espace_sante_modifiervaccin', {'id': i.id })}}" >Modifier</a>


                    </td>
                {% endif %}


            </tr>

        {% endfor %}
        </tbody>
    </table>

</section>

{% endblock bodyhome %}

