{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}

{% block bodyhome %}


    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('perfect-scrollbar.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">

    <div class="wrap-table100">
        <div class="table100 ver1 m-b-110" style="overflow: inherit">
            <div class="table100-head">
                <table>
                    <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Vaccin</th>
                        <th class="cell100 column2">Matricule</th>
                        <th class="cell100 column3">Age</th>
                        <th class="cell100 column4">Description</th>
                        <th class="cell100 column5">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in item %}
                        <tr>
                            <td>{{ i.nom }}</td>
                            <td>{{ i.matricule }}</td>
                            <td>{{ i.age }} mois</td>
                            <td>{{ i.description }}</td>
                            <td>
                                <a  href="{{ path('espace_sante_deleteVaccin', {'id': i.id })}}" >Supprimer</a>
                                <a href="{{ path('espace_sante_modifiervaccin', {'id': i.id })}}" >Modifier</a>


                            </td>


                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
</div>




     </div>








{% endblock bodyhome %}