{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}
{% block pediatre %}


    <div id="kids_middle_container">
        <!-- .content -->
        <div class="kids_top_content">
            <div class="kids_top_content_middle ">
                <div class="header_container ">
                    <div class="l-page-width">
                        <h1>Pédiatres</h1>
                        <ul id="breadcrumbs">
                            <li><a href="{{ path('all_for_kids_main_homepage') }}" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                            <li><a href="{{ path('espace_sante_homepage') }}" ><span class="current_crumb">Espace Santé</span></a></li><span class="delimiter">&gt;</span>
                            <li><span class="current_crumb">Pédiatres</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .kids_top_content_middle -->
        </div>
        <div class="bg-level-2-full-width-container kids_bottom_content">
            <div class="bg-level-2-page-width-container no-padding">
                <section class="kids_bottom_content_container">
                    <!-- ***************** - START Image floating - *************** -->
                    <div class="page-content">
                        <div class="bg-level-2 first-part"></div>
                        <div class="container l-page-width">
                            <div class="entry-container ">
                                <main>
                                    <div class="portfolio iso-column iso-four-column">
                                        <div class="filter-wrapper">
                                            <select class="filter">
                                                <option value="*" selected>All</option>
                                                <option value=".tunis">Tunis</option>
                                                <option value=".lego">Lego</option>
                                                <option value=".tangled">Tangled</option>
                                            </select>
                                        </div>
                                        <div class="grid isotope" data-ppp="8" data-cols="954">
                                             {% for x in item %}

                                            <div data-categories="{{ x.ville }} " class="iso-item happyfeet">
                                                <div class="content-wrapper">
                                                    <figure>
                                                        <a title="Check this Pediatre" class="prettyPhoto kids_picture" data-rel="prettyPhoto[portfolio]" href="{{ asset('pdf/'~x.File ) }}"><img src="{{ asset('images/uploads/'~x.imageName ) }}" width='278' height='182' alt='' /></a>
                                                    </figure>
                                                </div>
                                                <!--/ content-wrapper-->
                                                <div class="gallery-text">
                                                    <div class="title"><a  class="link" href="">{{ x.username }}</a></div>

                                                </div>
                                                <div class="post-footer">
                                                    <a href="{{ asset('pdf/'~x.FileName ) }}" class="cws_button">voir CV</a>
                                                    <a href="{{ path('espace_sante_showPediatre', {'id': x.id })}}" class="cws_button">consulter sur map</a>
                                                    <a href="{{ path('espace_sante_showPediatre', {'id': x.id })}}" class="cws_button">Reserver RendezVous</a>

                                                    <!-- The Modal -->

                                                    <!------Model end------->


</div>
                                                <!--/ post-footer-->
                                                <div class="kids_clear"></div>
                                            </div>

                                               {% endfor %}

                                        </div>
                                        <!-- grid isotope -->
                                        <div class='pagenavi gl'>
                                            <span class='pages'>Page (1 of 2)</span><a class="prevpostslink pagenavi_no_click" href="#" style="cursor:default;">Prev</a><span class="current">1</span><a class="page" href="#">2</a><a class="nextpostslink" href="#">Next</a></div>
                                    </div>
                                    <!-- .gl_col_ -->
                                    <!-- comments block -->
                                    <!-- //end comments block -->
                                </main>
                            </div>
                            <!-- .entry-container -->
                        </div>
                        <div class="bg-level-2 second-part"></div>
                    </div>
                    <!-- ***************** - END Image floating - *************** -->
                </section>
                <!-- .bottom_content_container -->
            </div>
            <div class="content_bottom_bg"></div>
        </div>
    </div>




{% endblock pediatre %}