{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}

{% block addvaccin %}

    <div class="container-contact100">
        <div class="wrap-contact100">

                {{ form_start(form,{'attr':{'class':'contact100-form validate-form'}}) }}

                 <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Vaccin : </span>
                {{ form_widget(form.nom,{'attr':{'class':'input100','style':'border: 1px solid white;',}}) }}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input"  data-validate="Age is required">
                    <span class="label-input100">Age : </span>
                                {{ form_widget(form.Age,{'attr':{'class':'input100','style':'border: 1px solid white;',}})}}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Matricule is required">
                    <span class="label-input100">Matricule : </span>
    {{ form_widget(form.Matricule,{'attr':{'class':'input100','style':'border: 1px solid white;',}}) }}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Description is required" >
                    <span class="label-input100">Description : </span>
    {{ form_widget(form.description,{'attr':{'class':'input100','style':'border: 1px solid white;',}}) }}
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn" style="margin-bottom: 50px">
    {{ form_widget(form.Ajouter) }}
                </div>

    {{ form_end(form) }}

        </div>
    </div>











{% endblock addvaccin %}