{% extends '@EspaceSante/Base/espacesantebase..html.twig' %}
{% block pediatre %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for flashMessage in app.session.flashbag.get('Attention') %}


        <div class="popup">
            <span class="popuptext" id="myPopup"></span>
            <script>
                // When the user clicks on div, open the popup

                swal({
                    title: "Attetion",
                    text: "{{ flashMessage }}",
                    icon: "error",

                });

            </script>
        </div>



    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('Succe') %}


        <div class="popup">
            <span class="popuptext" id="myPopup"></span>
            <script>
                // When the user clicks on div, open the popup

                swal({
                    title: "Succe",
                    text: "{{ flashMessage }} \n Redirection en cours",
                    icon: "sucess"

                });

                window.location = "{{ path('espace_sante_homepage') }}";


            </script>
        </div>



    {% endfor %}

    <div id="kids_middle_container">
        <!-- .content -->
        <div class="kids_top_content">
            <div class="kids_top_content_middle ">
                <div class="header_container ">
                    <div class="l-page-width">
                        <h1>Pediatres</h1>
                        <ul id="breadcrumbs">
                            <li><a href="{{ path('all_for_kids_main_homepage') }}" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                            <li><a href="{{ path('espace_sante_homepage') }}">Espace Santé</a></li><span class="delimiter">&gt;</span>
                            <li><a href="{{ path('espace_sante_pediatres') }}">Pediatres</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .kids_top_content_middle -->
        </div>
        <div class="bg-level-2-full-width-container kids_bottom_content">
            <div class="bg-level-2-page-width-container no-padding">
                <section class="kids_bottom_content_container">
                    <!-- ***************** - START Image floating - *************** -->
                    <div class="page-content">
                        <div class="bg-level-2 first-part"></div>
                        <div class="container l-page-width">
                            <div class="entry-container ">
                                <main>
                                    <div class='grid-row clearfix'>
                                        <div class='grid-col grid-col-12'>
                                            <section class='cws-widget'>
                                                <div class='widget-title'>Cabinet</div>
                                                <section class='cws_widget_content'>
                                                    <!-- map -->
                                                    <div class="map-container">
                                                        <div id="mapp" class="google-map" >

                                                        </div>
                                                    </div>
                                                    <!--/ map -->
                                                </section>
                                            </section>
                                        </div>
                                    </div>
                                    <div class='grid-row clearfix'>
                                        <div class='grid-col grid-col-9'>
                                            <section class='cws-widget'>
                                                <div class='widget-title'>Reservez un rendez vous</div>
                                                <section class='cws_widget_content'>
                                                    <div class="form-style-10">
                                                        <h1>Ajouter un RendezVous</h1>
                                                        {{ form_start(f) }}
                                                        <div class="section"><span>1</span> nom de passion</div>
                                                        <div class="inner-wrap">
                                                            <label>{{ form_widget(f.nomEnfant,{'attr':{'placeholder':'Entrer le nom de lenfant','required':'true'}}) }}</label>
                                                        </div>
                                                        <div class="section"><span>2</span>Date et Heure </div>
                                                        <div class="inner-wrap">
                                                            <label> {{ form_widget(f.date) }}</label>
                                                        </div>
                                                        <div class="section"><span>3</span>vaccin a faire </div>
                                                        <div class="inner-wrap">
                                                            <label> {{ form_widget(f.vaccin ) }}</label>
                                                        </div>

                                                        <div class="button-section">
                                                            {{ form_widget(f.Ajouter ) }}
                                                        </div>

                                                        {{ form_end(f) }}


                                                    </div>

                                                </section>
                                                </section>
                                            </div>
              <div class='grid-col grid-col-3'>
                <section class='cws-widget'>
                    <div class='widget-title'>Contact Details</div>
                    <section class='cws_widget_content'>
                        <p><strong>{{ user.username }}</strong></p>
                        <p><strong>{{ user.adresse }}</strong></p>
                        <p><strong>Phone: {{ user.telephone }}</strong></p>
                        <p><strong>Email: <a class="link" href="#">{{ user.email }}</a></strong></p>
                    </section>
                </section>
            </div>
        </div>
        <!-- comments block -->
        <!-- //end comments block -->
        </main>
        <div class="kids_clear"></div>
    </div>
    <!-- .entry-container -->
    </div>
    <div class="bg-level-2 second-part"></div>
    </div>
    <!-- ***************** - END Image floating - *************** -->
    </section>
    <!-- .bottom_content_container -->
    </div>
    <div class="content_bottom_bg"></div>
    </div>
    </div>

    <script>
        function myMap() {
            var myLatLong = {lat: {{ res.latitude }} , lng: {{ res.longitude }}}
            var mapOptions = {
                center: myLatLong,
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("mapp"), mapOptions);


            var marker =  new google.maps.Marker({
                position: myLatLong,
                map: map
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZdopor-qlK2eQyz3BSTzEQETPA1bS0kw&callback=myMap&sensor=false">sensor=false</script>


{% endblock %}