<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <title>HappyKids &#8211; Premium Children HTML Template</title>
            <link rel="alternate" type="application/rss+xml" title="HappyKids - Premium Children HTML Template &raquo; Comments Feed" href="#" />
            <link rel="shortcut icon" href="{{ asset('bundle/Assets/images/apple-touch-icon.png') }}">
            <link rel="stylesheet" href="{{ asset('bundles/Assets/css/font-awesome.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/styles.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/maps.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/woocommerce.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/flexnav.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/prettyPhoto.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/colorpicker.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/styles.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/revslider/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/Assets/css/style.css') }}"/>
            <link rel='stylesheet prefetch' href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:400,300') }}"/>
            <link rel='stylesheet prefetch' href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/Assets/css/formulaire.css') }}"/>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/colorpicker.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/scripts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/Assets/revslider/jquery.themepunch.revolution.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/Assets/revslider/jquery.themepunch.tools.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery-ui.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.lavalamp-1.4.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.easing-1.3.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/owl.carousel.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.prettyPhoto.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.isotope.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.flexnav.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('bundles/Assets/js/index.js') }}"></script>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />



        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundle/Assets/images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}


        {% endblock %}
    </body>
</html>
