{% extends'default/index.html.twig' %}
{% block bodyindex %}
    <div id="kids_middle_container">
        <!-- .content -->
        <div class="kids_top_content">
            <div class="kids_top_content_middle ">
                <div class="header_container ">
                    <div class="l-page-width">
                        <h1>Cart</h1>
                        <ul id="breadcrumbs">
                            <li><a href="{{ path ('accueil') }}" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                            <li><span class="current_crumb">Liste Des Offres</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .kids_top_content_middle -->
        </div>
        <div class="bg-level-2-full-width-container kids_bottom_content">
            <div class="bg-level-2-page-width-container no-padding">
                <section class="kids_bottom_content_container">
                    <!-- ***************** - START Image floating - *************** -->
                    <div class="page-content">
                        <div class="bg-level-2 first-part"></div>
                        <div class="container l-page-width">
                            <div class="entry-container single-sidebar">
                                <main>
                                    <div class='grid-row clearfix'>
                                        <div class='grid-col grid-col-12'>
                                            <section class='cws-widget'>
                                                <section class='cws_widget_content'>
                                                    <h2>Liste des offre</h2>
                                                    <h1>Recherche offre par ville </h1>
                                                    Rechercher: <input type="text" id="recherche">
                                                    <br>

                                                        <table id="tableau" class="shop_table cart" cellspacing="0" >
                                                            {% if (is_granted('ROLE_BABYSITER')) %}
                                                                <tr>
                                                                    <td><h4>Nom parent</h4></td>
                                                                    <td><h4>Nombre des enfants</h4></td>
                                                                    <td><h4>Services demandé(s)</h4></td>
                                                                    <td><h4>Age du cadé</h4></td>
                                                                    <td><h4>Le jour</h4></td>
                                                                    <td><h4>Quand ?</h4></td>
                                                                    <td><h4>La Ville</h4></td>
                                                                </tr>
                                                                {% for offre in Offre  %}
                                                                    {% if (app.getUser().getId()== offre.babysitter.id) %}
                                                                        <tr>
                                                                            <td>{{ offre.parent.username }}</td>
                                                                            <td>{{ offre.nbrEnfant }}</td>
                                                                            <td>{{ offre.service }}</td>
                                                                            <td>{{ offre.age }}</td>
                                                                            <td>{{ offre.dateOffre|date('d-m-y') }}</td>
                                                                            <td>{{ offre.temps }}</td>
                                                                            <td>{{ offre.ville }}</td>
                                                                            {% if (offre.Accept == 0 ) %}
                                                                                <td><a href="{{ path('AcceptOffre',{'id':offre.id}) }}">Accepter</a></td>
                                                                                <td><a href="{{ path('_remove_offre',{'id':offre.id}) }}">Refuser</a></td>
                                                                            {% endif %}
                                                                            {% if (offre.Accept == 1 )%}
                                                                                <td><U><font color="red">Accepté</font></U></td>
                                                                            {% endif %}

                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if (is_granted('ROLE_PARENT')) %}
                                                                <tr>

                                                                    <td><h4>Nom Babysitter</h4></td>
                                                                    <td><h4>Nombre des enfants</h4></td>
                                                                    <td><h4>Services demandé(s)</h4></td>
                                                                    <td><h4>Age du cadé</h4></td>
                                                                    <td><h4>Le jour</h4></td>
                                                                    <td><h4>Quand ?</h4></td>
                                                                    <td><h4>La Ville</h4></td>
                                                                </tr>

                                                                {% for offre in Offre  %}
                                                                    {% if (app.getUser().getId()== offre.parent.id) %}
                                                                        <tr>
                                                                            <td>{{ offre.babysitter.username }}</td>
                                                                            <td>{{ offre.nbrEnfant }}</td>
                                                                            <td>{{ offre.service }}</td>
                                                                            <td>{{ offre.age }}</td>
                                                                            <td>{{ offre.dateOffre|date('d-m-y') }}</td>
                                                                            <td>{{ offre.temps }}</td>
                                                                            <td>{{ offre.ville }}</td>
                                                                            {% if (offre.Accept == 0 ) %}
                                                                                <td><font color="red"> En cours </font> </td>
                                                                                <td><a href="{{ path('_modifier_offre',{'id':offre.id}) }}">Mettre à jour</a></td>
                                                                                <td><a href="{{ path('_remove_offre',{'id':offre.id}) }}">Annuler</a></td>


                                                                            {% endif %}
                                                                            {% if (offre.Accept == 1 )%}
                                                                                <td>Accepté</td>
                                                                            {% endif %}

                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </table>


                                                </section>
                                            </section>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
    $(function () {
        $("#recherche").keyup(function () {
            $.ajax({
                url : "{{ path('_recherche_offre') }}",
                data : { 'offre' : $(this).val() }
            }).done(function (response) {
                var tableau = $(response).find("table");
                $('#tableau').empty();
                $('#tableau').append(tableau);
            });
        });
    })
</script>
{% endblock bodyindex %}