{% extends'default/index.html.twig' %}
{% block bodyindex %}
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Avis</h1>
                    <ul id="breadcrumbs">
                        <li><a href="index.html" title="{{ path ('accueil') }}">Home</a></li> <span class="delimiter">&gt;</span>
                        <li><span class="current_crumb">Ajout Offre</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
    <div class="bg-level-2-page-width-container no-padding">
    <section class="kids_bottom_content_container">
    <!-- ***************** - START Image floating - *************** -->
    <div class="page-content">

    <div class="container l-page-width">


    <div role="form" class="wpcf7" id="wpcf7-f622-p199-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>Nombre d'enfant{{ form_start(Form) }}
        {{ form_errors(Form.nbrEnfant) }}
        {{ form_widget(Form.nbrEnfant, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        <div id="email_server_responce"></div>
        <div class="screen-reader-response"></div>Nom de service
        {{ form_errors(Form.service) }}
        {{ form_widget(Form.service, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        <div id="email_server_responce"></div>
        <div class="screen-reader-response"></div>Age
        {{ form_errors(Form.age) }}
        {{ form_widget(Form.age, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        <div id="email_server_responce"></div>
        <div class="screen-reader-response"></div>Jours
        <div>
            {{ form_errors(Form.DateOffre) }}
            {{ form_widget(Form.DateOffre, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        </div>
        <div id="email_server_responce"></div>
        <div class="screen-reader-response"></div>Temps
        {{ form_errors(Form.temps) }}
        {{ form_widget(Form.temps, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        <div id="email_server_responce"></div>
        <div class="screen-reader-response"></div>Ville
        {{ form_errors(Form.ville) }}
        {{ form_widget(Form.ville, {'att':{'class':'wpcf7-form-control-wrap your-name'}}) }}
        <div id="email_server_responce"></div>
        <div class="message_box error-box  close">
            <div class="message_box_header">Error Box</div>
        </div>
    </div>
    {{ form_end(Form) }}

    </div>
    </div>
    </section>
    </div>
    </div>

{% endblock %}