<h3>Liste des Offres</h3>
<table border="2">
    <th>Id</th>
    <th>Id du Parent</th>
    <th>Nombre des enfants</th>
    <th>Services demandé</th>
    <th>Age minimum</th>
    <th>Le Jour</th>
    <th>Temps</th>
    <th>Ville</th>
    {% for offre in Offre %}
        <tr>
            <td>{{ offre.id }}</td>
            <td>{{ offre.parent }}</td>
            <td>{{ offre.nbrEnfant }}</td>
            <td>{{ offre.service }}</td>
            <td>{{ offre.age }}</td>
            <td>{{ offre.jours }}</td>
            <td>{{ offre.temps }}</td>
            <td>{{ offre.ville }}</td>

            <td><a href="{{ path('_remove_offre',{'id':offre.id}) }}">Supprimer</a></td> //route
            <td><a href="{{ path('_modifier_offre',{'id':offre.id}) }}">Mettre à jour</a></td> //route
        </tr>
    {% endfor %}
</table>
