{% trans_default_domain 'FOSUserBundle' %}




<div class="form-style-10">
    <h1>Sign Up Now!</h1>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="section"><span>1</span>Username &amp; Address</div>
    <div class="inner-wrap">
        {{ form_widget(form.username,{'attr':{'placeholder':'Username', 'required':'true'}}) }}
    </div>

    <div class="inner-wrap">
        {{ form_widget(form.email,{'attr':{'placeholder':'Email Address', 'required':'true'}}) }}
    </div>

    <div class="section"><span>2</span>Passwords</div>
    <div class="inner-wrap">
        {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Password', 'required':'true' }}) }}
    </div>

    <div class="inner-wrap">
        {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'ReEnter Password' , 'required':'true'}}) }}
    </div>

    <div class="section"><span>3</span>Role</div>
    <div class="inner-wrap">
        <label>S inscrire en tant que:</label>
        {{ form_widget(form.roles,{'attr':{'onchange':'select()'}}) }}
    </div>

    <div  id="divfile">
        <div class="inner-wrap">
            <label>ajouter un cv (pour Pediatre)</label>
            {{ form_widget(form.Files,{'attr':{ 'required':'true'}}) }}
        </div>
        <div class="inner-wrap">
            <label>Ajouter une photo:</label>
            {{ form_widget(form.imageFile,{'attr':{ 'required':'true'}}) }}
        </div>
        <div class="inner-wrap">

            {{ form_widget(form.adresse,{'attr':{'placeholder':'Adresse', 'required':'true','class':'controls'}}) }}
        </div>
        <div id="map"></div>

        <div class="inner-wrap">

            {{ form_widget(form.telephone,{'attr':{'placeholder':'Telephone' , 'required':'true'}}) }}
        </div>
        <div class="inner-wrap">

            {{ form_widget(form.ville,{'attr':{'placeholder':'Ville' , 'required':'true'}}) }}
        </div>
    </div>
    <div class="button-section">
        <button type="submit" name="Register"  />{{ 'registration.submit'|trans }}</button>
             <span class="privacy-policy">
             <input type="checkbox" name="field7" required>You agree to our Terms and Policy.
             </span>

    </div>

    {{ form_end(form) }}
</div>

<script src="{{ asset('bundles/Assets/js/jquery.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#divfile").hide();
    });
    $("#divfile")
    function select() {
        var item = document.getElementById('fos_user_registration_form_roles').value ;
        if(item==="ROLE_PEDIATRE"){
            $(document).ready(function () {
                $("#divfile").show();
            });
        }else {
            $(document).ready(function () {
                $("#divfile").hide();
            });
        }
    }
</script>

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13
        });
        var input = /** @type {!HTMLInputElement} */(
                document.getElementById('fos_user_registration_form_adresse'));

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            //infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.


    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzcJpwpDNgiDVSTrg0rCxoGBi28gBrmJY
&libraries=places&callback=initMap"
        async defer></script>


