<div id="form" >
    {{form(form)}}
</div>
<div id="resultats_ajouter">
</div>
<script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
<script>
    $(function() {


            var datastring = $("form").serialize();
            $.ajax({
                    type:'POST', //handle request
                    url:"{{path('Ajout2')}}",
                    data:datastring,
                    dataType: "json",
                    success:function(data) {
                        $('#resultats_ajouter').html("ajout");

                    }
            });
            return false;
        });

</script>