
<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Prestataire</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link  rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/lib/bootstrap/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/lib/font-awesome/css/font-awesome.css') }}" >

    <script src="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/lib/jquery-1.11.1.min.js' )}}" type="text/javascript"></script>

    <script src="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/lib/jQuery-Knob/js/jquery.knob.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $(".knob").knob();
        });
    </script>


    <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/stylesheets/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost() ~ asset('dashboard/stylesheets/premium.css') }}">

</head>
<body class=" theme-blue">

<!-- Demo page code -->

<script type="text/javascript">
    $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
            $('body').removeClass(function (index, css) {
                return (css.match (/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

    });
</script>
<style type="text/css">
    #line-chart {
        height:300px;
        width:800px;
        margin: 0px auto;
        margin-top: 1em;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }
</style>

<script type="text/javascript">
    $(function() {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src=""></script>
<![endif]-->

<!-- Le fav and touch icons -->


<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" ><span class="navbar-brand"><span class="fa fa-paper-plane"></span>All For Kids</span></a></div>

    <div class="navbar-collapse collapse" style="height: 1px;">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a  class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> Sergent Major
                    <i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="./">My Account</a></li>
                    <li><a href={{ path('Ajout') }}>Ajouter Produit</a></li>
                    <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>


<div class="content">
    <div class="header">
        <div class="stats">
            <p class="stat"><span class="label label-info">5</span> Tickets</p>
            <p class="stat"><span class="label label-success">27</span> Tasks</p>
            <p class="stat"><span class="label label-danger">15</span> Overdue</p>
        </div>


    </div>

    {% block head %}
    {% endblock head %}





        {% block bodyadmin %}


            <div class="header">

                <h1 class="page-title">Espace Prestataire</h1>

            </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom Produit</th>
                <th>Prix</th>
                <th>quantite</th>
                <th>Disponibilite</th>
                <th>Catégories</th>
                <th>Image</th>
                <th>Modifier</th>

            </tr>
            </thead>
            <tbody>
            {% for prod in p %}


                <tr class="success" >
                    <th scope="row">{{prod.id  }}</th>
                    <td>{{ prod.nom}}</td>
                    <td>{{ prod.prix}}</td>
                    <td>{{ prod.quantite}}</td>
                    <td>{{ prod.disponible}}</td>
                    <td><img src="{{asset('bundles/images/' ~prod.image) }}" width="50px"></td>
                    <td>{{ prod.categorie}}</td>
                    <td><a href="{{ path('Update',{'id':prod.id}) }}">Modifier</a></td>

                </tr>

            {% endfor %}




            </tbody>
            <tr><a href="{{ path('PDF') }}" > Telecharger</a></tr>
        </table>

            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p>© All For Kids <a  target="_blank"></a></p>
            </footer>

        </div>

    {% endblock %}
<script src=" {{ app.request.schemeAndHttpHost  ~ asset('dashboard/lib/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
     </script>

</body>
</html>


