{% extends '@AllForKidsMain/Admin/show.html.twig'%}
 {% block bodyadmin %}
     <table class="table">
         <thead>
         <tr>
             <th>#</th>
             <th>Id Babysitter</th>
             <th>Id Parent</th>
             <th>Avis du parent</th>
             <th>Supprimer</th>
         </tr>
         </thead>
         <tbody>
         {% for a in avis %}


             <tr class="success">
                 <th scope="row">{{a.id }}</th>
                 <td>{{ a.idBabysitter}}</td>
                 <td>{{ a.idParent}}</td>
                 <td>{{ a.monAvis}}</td>
                 <td><a href="{{ path('RemoveAvisAdmin',{'id':a.id}) }}">Supprimer</a></td>
                 <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

             </tr>

         {% endfor %}



         </tbody>
     </table>

 {% endblock %}