{% extends '@AllForKidsMain/Admin/show.html.twig'%}
 {% block bodyadmin %}
  <table class="table">
   <thead>
   <tr>
    <th>#</th>
    <th>Nom Babysitter</th>
    <th>Age</th>
    <th>Sexe</th>
    <th>Ville</th>
    <th>Nombre d'année d'exp</th>
    <th>num Tel</th>
    <th>Adresse</th>
    <th>Image</th>
    <th>Supprimer</th>
   </tr>
   </thead>
   <tbody>
   {% for bs in babysitter %}


    <tr class="success">
     <th scope="row">{{bs.id }}</th>
     <td>{{ bs.username}}</td>
     <td>{{ bs.age}}</td>
     <td>{{ bs.sexe}}</td>
     <td>{{ bs.ville}}</td>
     <td>{{ bs.nbrAnneeExp}}</td>
     <td>{{ bs.numTel}}</td>
     <td>{{ bs.adresse}}</td>
     <td><img src="{{asset('bundles/images/' ~bs.nomImage) }}" width="50px"></td>
     <td><a href="{{ path('RemoveBabyAdmin',{'id':bs.id}) }}">Supprimer</a></td>
     <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

    </tr>

   {% endfor %}



   </tbody>
  </table>

{% endblock %}