{% extends '@AllForKidsMain/Admin/show.html.twig'%}
    {% block bodyadmin %}

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom Produit</th>
                <th>Prix</th>
                <th>quantite</th>
                <th>Disponibilite</th>
                <th>Catégories</th>
                <th>Image</th>
                <th>Supprimer</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody>
            {% for prod in p %}


                <tr class="success">
                    <th scope="row">{{prod.id }}</th>
                    <td>{{ prod.nom}}</td>
                    <td>{{ prod.prix}}</td>
                    <td>{{ prod.quantite}}</td>
                    <td>{{ prod.disponible}}</td>
                    <td>{{ prod.categorie}}</td>
                    <td><img src="{{asset('bundles/images/' ~prod.image) }}" width="50px"></td>
                    <td><a href="{{ path('Supprimer',{'id':prod.id}) }}">Supprimer</a></td>
                    <td><button  onclick="" id="etat">{{ prod.etat }}</button> </td>
                    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

                </tr>

            {% endfor %}



            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(p) }}
        </div>

   {% endblock %}
