<!doctype html>
        <html lang="en"><head>
            <meta charset="utf-8">
            <title>Admin</title>
            <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">

            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/lib/bootstrap/css/bootstrap.css') }} ">
            <link rel="stylesheet" href="{{ asset('dashboard/lib/font-awesome/css/font-awesome.css') }}">

            <script src="{{ asset('dashboard/lib/jquery-1.11.1.min.js' )}}" type="text/javascript"></script>

            <script src="{{ asset('dashboard/lib/jQuery-Knob/js/jquery.knob.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function() {
                    $(".knob").knob();
                });
            </script>


            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/theme.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/premium.css') }}">

        </head>
        <body class=" theme-blue">

        <!-- Demo page code -->

        <script type="text/javascript">
            $(function() {
                var match = document.cookie.match(new RegExp('color=([^;]+)'));
                if(match) var color = match[1];
                if(color) {
                    $('body').removeClass(function (index, css) {
                        return (css.match (/\btheme-\S+/g) || []).join(' ')
                    })
                    $('body').addClass('theme-' + color);
                }

                $('[data-popover="true"]').popover({html: true});

            });
        </script>
        <style type="text/css">
            #line-chart {
                height:300px;
                width:800px;
                margin: 0px auto;
                margin-top: 1em;
            }
            .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
                color: #fff;
            }
        </style>

        <script type="text/javascript">
            $(function() {
                var uls = $('.sidebar-nav > ul > *').clone();
                uls.addClass('visible-xs');
                $('#main-menu').append(uls.clone());
            });
        </script>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


        <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
        <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
        <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
        <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!-->

        <!--<![endif]-->

        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span>All For Kids</span></a></div>

            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul id="main-menu" class="nav navbar-nav navbar-right">
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> Administrateur
                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="./">My Account</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Admin Panel</li>
                            <li><a href="./">Users</a></li>
                            <li><a href="./">Security</a></li>
                            <li><a tabindex="-1" href="./">Payments</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>


        <div class="content">
            <div class="header">
                <div class="stats">
                    <p class="stat"><span class="label label-info">5</span> Tickets</p>
                    <p class="stat"><span class="label label-success">27</span> Tasks</p>
                    <p class="stat"><span class="label label-danger">15</span> Overdue</p>
                </div>


            </div>

            {% block head %}
            {% endblock head %}
            <div class="main-content">




                {% block bodyadmin %}


        <div class="content">
            <div class="header">

                <h1 class="page-title">Espace Prestataire</h1>

            </div>
            <div class="main-content">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Ajouter Produits</a></li>

                </ul>

                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="home">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Nom du Produit</label>
                                    {{ form_widget(form.nom) }}
                                </div>
                                <div class="form-group">
                                    <label>Prix</label>
                                    {{ form_widget( form.prix) }}
                                </div>
                                <div class="form-group">
                                    <label>Quantite</label>
                                    {{ form_widget( form.quantite) }}
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    {{ form_widget( form.image) }}
                                </div>

                                <div class="form-group">
                                    <label>Catégories</label>
                                    {{ form_widget( form.categorie) }}

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Disponibilité</label>
                                    {{ form_widget( form.disponible) }}
                                </div>
                                <div class="btn-toolbar list-toolbar">
                                    {{ form_widget(form.Ajouter,{'label':'Modifier'}) }}
                                    <a href="{{ path('Liste2')}}" data-toggle="modal" class="btn btn-danger">Liste Produits</a>
                                </div>
                                {{ form_end(form) }}
                                </form>
                            </div>


                        </div>
                    </div>


                </div>
            </div>




            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p>© All For Kids <a href="http://www.portnine.com" target="_blank"></a></p>
            </footer>
        </div>
    </div>
    {% endblock %}

    <script src="{{ asset('dashboard/lib/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>


</div>
        </body></html>
