{% extends '@AllForKidsMain/Admin/show.html.twig' %}
{% block bodyadmin %}
    <head>


            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/lib/bootstrap/css/bootstrap.css') }} ">
            <link rel="stylesheet" href="{{ asset('dashboard/lib/font-awesome/css/font-awesome.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        </head>
    <body class="theme-blue">
<script type="text/javascript">
    $(document).ready(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
            $('body').removeClass(function (index, css) {
                return (css.match (/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});
            var nom=$('#category').val();
            var theme=$('#theme').val();
            //"email="+Uemail+"&code="+Ucode+"&path="+path;

            $('#form').change(
                function(){

                    var DATA='theme='+$('#theme').val()+'&category='+$('#category').val();
                    $.ajax({
                        type:'post'
                        ,url:"{{ path('AfficheQuiz') }}",
                        data:DATA,
                        beforeSend:function()
                        {
                            console.log(DATA) ;
                        },
                        success:function (response) {

                            $("#div1").html(
                                "<table class='table'  id='t'>" +
                                "<tr>" +
                                "<th>Id</th>" +
                                "<th>Nom Quiz</th>" +
                                "<th>Theme</th>" +
                                "<th>Catégorie d'age</th>" +
                                "<th>Durée Quiz</th>" +
                                "<th style='width: 3.5em;'></th>"+
                                "<th style='width: 3.5em;'></th>"+
                                "</tr>" +
                                "</table>"

                            );
                            $.each(response,function (k,el) {
                                var base_url = "{{path('all_for_kids_main_homepage')}}";
                                var edit_link = base_url + "ModifierQuiz/"+el.id;
                                var del_link = base_url + "SupprimerQuiz/"+el.id;
                                console.log(edit_link);
                                $('#t').append(


                                    "<tr>" +
                                    "<td>"+el.id+"</td>" +
                                    "<td>"+el.nomQuiz+"</td>" +

                                    "<td>"+ el.theme+"</td>" +
                                    "<td>"+ el.categorieAge+"</td>" +
                                    "<td>"+ el.time+"</td>" +
                                    "<td><a href='"+edit_link+"'><i class='fa fa-pencil'></i></a></td>" +
                                    "<td><a href='"+del_link+"'><i class='fa fa-trash-o'></i></a></td>" +
                                    "</tr>"
                                );
                            })
                        },
                    })

                });

        });
</script>
<style type="text/css">
    #line-chart {
        height:300px;
        width:800px;
        margin: 0px auto;
        margin-top: 1em;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }
    .form-group label {
        width: 110px;
        display: inline-block;
    }
    .form-group {
        margin-bottom: 6px;
    }
    input[type="text"] {
        width: 241px;
        height: 25px;
    }
</style>

<script type="text/javascript">
    $(function() {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/theme.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/premium.css')}}">

        </head>

    <h1>Liste des quiz</h1>

<form action="{{path('AfficheQuiz')}}" method="post" id="form">

    <div class="form-group">
        <label for="quiz">Thème de quiz : </label>
        <select type="text" name="theme" id="theme">
            <option value=""></option>
            <option value="Mathématique">Mathématique</option>
            <option value="Science">Science</option>
            <option value="Culture Générale">Culture Générale</option>
            <option value="Culture Générale">Langue</option>
        </select>
    </div>
    <div class="form-group">
        <label for="quiz">Catégorie age : </label><select type="text" name="category" id="category">
            <option value=""></option>
            <option value="4-6">4-6</option>
            <option value="7-9">7-9</option>
            <option value="10-12">10-12</option>
            <option value="13-15">13-15</option>
        </select>
    </div>


</form>
<br/>
<br/>
<div class="btn-toolbar list-toolbar">
    <a class="btn btn-primary" role="button" href="{{ path('AjouterQuiz') }}"><i class="fa fa-plus"></i> Ajouter Quiz</a>

    <div class="btn-group">
    </div>
</div>
<div id="div1">

</div>
<center>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
</center>
</ul>
<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
    </body>
    {% endblock %}