<form id="captcha-verify">
	<p>
		<label for="reponsecap">Pour des raisons de sécurité, merci de résoudre l'opération suivante :
		<br /><u>{{operation}}</u> <em>(en chiffres)</em>&nbsp;</label>
		<input type="text" name="reponsecap" style="border: 1px solid;" value="" />
		<input type="hidden" name="enfant" value="{{enfant}}" />
		<input name="reponsecapcode" type="hidden" value="{{resultat}}" />
	</p>
	<button type="button" id="verify_captcha" >Vérifier</button>
</form>
