{% extends 'default/index.html.twig' %}
{% block bodyindex %}
	<div class="l-page-width">
		<div class="form-style-5" style="height: 135px;">
			<div class="success-alert-info">
				votre score est {{score.score}}
			</div>
		</div>
	</div>
{% endblock %}
