{% extends 'default/index.html.twig' %}
{% block bodyindex %}
<html>
<style>
    .reponses-bloc{
        margin-left: 30px;
    }
    .question-bloc {
        margin-bottom: 14px;
        border: 2px solid #353535;
        padding-bottom: 7px;
        padding: 17px;
    }
    .add_response{
        margin-top: 9px;
    }
    .reponses-bloc{
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 9px;
    }
    .reponse {
        margin-bottom: 5px;
    }
    .form-group label {
        width: 110px;
        display: inline-block;
    }
    .form-group {
        margin-bottom: 6px;
    }
    input[type="text"] {
        width: 241px;
        height: 25px;
    }
    @keyframes gjPulse {
        0% {
            width: 90px;
            height: 90px;
        }
        25% {
            width: 105px;
            height: 105px;
        }
        50% {
            width: 130px;
            height: 130px;
        }
        75% {
            width: 110px;
            height: 110px;
        }
        100% {
            width: 90px;
            height: 90px;
        }
    }

    #gj-counter-box {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.2;
        width: 90px;
        height: 90px;
        background-color: rgb(183, 0, 0);
        border-radius: 50%;
        border: 6px solid white;
        visibility: none;
        display: none;
        animation: gjPulse 1s linear infinite;
    }

    #gj-counter-box:hover {
        opacity: 1;
        cursor: pointer;
    }

    #gj-counter-num {
        position: relative;
        text-align: center;
        margin: 0px;
        padding: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        color: white;
    }
</style>
<head>


</head>
<body>
<div id="gj-counter-box">
    <h1 id="gj-counter-num"></h1>
</div>
<form action="{{path('JouerQuiz',{'id':quiz.id}) }}" method="post" id="form">

     <input type="hidden" name="time" VALUE="{{ quiz.time }}" />


    <h1>Liste des question/reponse</h1>
    <div class="questions">
        <div class="question-bloc">
            {% for i,q in question %}
                <label for="quiz">Question 1 : </label><input type="text" style="background-color: white" name="question[{{i}}]" disabled value="{{ q.libelle }}"/><br>
                <div class="reponses-bloc">
                    <div class="reponses-list">

                        {% for j,r in q.reponses %}
                            <div class="reponse">
                                <label for="quiz">Réponse 1 : </label>
                                <input type="text" name="reponse[{{i}}][{{j}}]" style="background-color: white" disabled value="{{ r.libelle }}"/>
                                <input name="veri[{{i}}][{{j}}]" value="1" type="checkbox"/>
                                <input name="verif[{{i}}][{{j}}]" value="{{ r.verif }}" type="hidden" {% if r.verif==1  %}checked{% endif %}/>
                                <input name="point[{{i}}][{{j}}]" value="{{ r.point }}" type="hidden" /><br>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    <hr>

    <input type="submit" id="add_question" value="valider"></input>
</form>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function gjCountAndRedirect(secounds, url) {

        $('#gj-counter-num').text(secounds);

        $('#gj-counter-box').show();

        var interval = setInterval(function() {

            secounds = secounds - 1;

            $('#gj-counter-num').text(secounds);

            if (secounds == 0) {
                $('#form').submit();
                alert('time is up');

                clearInterval(interval);
              //  window.location = url;
                $('#gj-counter-box').hide();

            }

        }, 1000);

        $('#gj-counter-box').click(function() {
            clearInterval(interval);
            window.location = url;

        });
    }

    // USE EXAMPLE
    $(document).ready(function() {
        //call
        gjCountAndRedirect({{ quiz.time }}, document.url = "{{ path('AfficheQuiz') }}");

    });

</script>

</html>
    {% endblock %}