<html>
<style>
    .reponses-bloc{
        margin-left: 30px;
    }
    .question-bloc {
        margin-bottom: 14px;
        border: 2px solid #353535;
        padding-bottom: 7px;
        padding: 17px;
    }
    .add_response{
        margin-top: 9px;
    }
    .reponses-bloc{
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 9px;
    }
    .reponse {
        margin-bottom: 5px;
    }
    .form-group label {
        width: 110px;
        display: inline-block;
    }
    .form-group {
        margin-bottom: 6px;
    }
    input[type="text"] {
        width: 241px;
        height: 25px;
    }
</style>
<head>


</head>
<body>
<form action="{{path('ModifierQuiz',{'id':quiz.id}) }}" method="post" id="f">

    <div class="form-group">
        <label for="quiz">Nom de quiz : </label><input type="text" name="quiz" value="{{ quiz.nomQuiz }}"/>
    </div>
    <div class="form-group">
        <label for="quiz">Thème de quiz : </label><input type="text" name="theme" value="{{ quiz.theme }}"/>
    </div>
    <div class="form-group">
        <label for="quiz">Catégorie age : </label><input type="text" name="category" value="{{ quiz.categorieAge }}"/>
    </div>
    <div class="form-group">
        <label for="quiz">Description : </label><textarea type="text" name="description"  form="f" cols="40" rows="5">{{ quiz.description }}</textarea>

    </div>
    <div class="form-group">
        <label for="quiz">Time : </label><input type="text" name="time" VALUE="{{ quiz.time }}" />
    </div>
    <h1>Liste des question/reponse</h1>
    <div class="questions">
        <div class="question-bloc">
            {% for q in question %}
            <label for="quiz">Question 1 : </label><input type="text" name="question[1]" value="{{ q.libelle }}"/><br>

            <div class="reponses-bloc">
                <div class="reponses-list">
                    {% for r in reponse %}
                        <div class="reponse">

                            <label for="quiz">Réponse 1 : </label><input type="text" name="reponse[1][]" value="{{ r.libelle }}" /><input name="verif[1][0]"  type="checkbox" value="{{ r.verif }}" {% if r.verif==1  %}checked{% endif %}/><br>
                        </div>
                    {% endfor %}
                </div>
                <button class="add_response">Ajouter une réponse</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
    <button id="add_question">Ajouter une question</button>
    <br/>
    <button type="submit" id="add_question">Envoyer</button>
</form>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {

        $( "#add_question" ).click(function(e) {
            e.preventDefault();
            //on récupère la dérniere question pour qu'on ajoute une autre question avec l'incrémentation de cet index
            var numItems = jQuery(".reponses-bloc").length + 1;

            //on crée un morceau de notre question pour qu'on l'ajoute
            var dynamic_question = '<div class="question-bloc">'+
                '				<label for="quiz">Question '+numItems+' : </label><input type="text" name="question['+numItems+']"/><br>'+
                '				<div class="reponses-bloc">'+
                '					<div class="reponses-list">'+
                '						<div class="reponse">'+
                '							<label for="quiz">Réponse 1 : </label><input type="text" name="reponse['+numItems+'][]"/><input name="verif['+numItems+'][0]" value="1" type="checkbox"/><br>'+
                '						</div>'+
                '					</div>'+
                '					<button class="add_response">Ajouter une réponse</button>'+
                '				</div>'+
                '			</div>';



            //Concaténation de la nouvelle question
            $( ".questions" ).append(dynamic_question);
        });


    });

    // évènement qui déclenche l'ajout d'une nouvelle réponse
    $(document).on("click", "button.add_response", function(e){
        e.preventDefault();
        var bloc_responses = $(this).closest(".reponses-bloc");
        // récuperation de nombre de réponse
        var numResponse0 = bloc_responses.find(".reponse").length;
        var numResponse = bloc_responses.find(".reponse").length + 1;
        // création d'un variable qui contien l'index de lanouvelle réponse
        var index = $(this).closest(".question-bloc").index() + 1;


        var dynmaic_reponse = '<div class="reponse">'+
            '						<label for="quiz">Réponse '+numResponse+' : </label><input type="text" name="reponse['+index+'][]"/><input name="verif['+index+']['+numResponse0+']" value="1" type="checkbox"/><br>'+
            '					</div>';
        //Concaténation de la nouvelle réponse à la liste des réponses de la question concernée
        bloc_responses.find(".reponses-list").append(dynmaic_reponse);
    });

</script>

</html>