{% extends 'default/index.html.twig' %}
{% block bodyindex %}

		<div class="l-page-width">
			<div class="form-style-5">
				<div class="loader" style="display:none;"></div>
				<div class="content-verif">
					<form id="form-verify-age">
						<select class="select-controle">
							<option value="">--S'identifier--</option>
							{% for item in enfants %}
							<option value="{{item.id}}">{{item.nom~" "~item.prenom}}</option>
							{% endfor %}
						</select>
						<button id="verif-enfant" type="button">Vérifier</button>
					</form>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			var base_url = "{{path('all_for_kids_main_homepage')}}";
			$(document).on("click", "#verif-enfant", function (e) {
				e.preventDefault();
				var enfant_id = $('#form-verify-age select').val();
				if(enfant_id=="" || enfant_id === undefined){
					alert("Veuillez confirmez votre identité !");
					return false;
				}
				$.ajax({
							type: 'POST',
							data: {enfant: enfant_id },
							beforeSend: function () {
								$(".loader").show();
								$(".form-style-5").addClass("loading");
							},
							success: function (response) {
								$(".loader").hide();
								$(".form-style-5").removeClass("loading");
									if(response != "0")
											$('.content-verif').html(response);
									else
											window.location = base_url + "DisplayQ/" + enfant_id;


							}
					});
			});
			// verifi captcha
	    $(document).on("click", "#verify_captcha", function (e) {
	       e.preventDefault();
				 $(".error-alert-warning").remove();
	       var dataString = $(this).closest("form").serialize();
	       $.ajax({
	              type: 'POST',
	              url: base_url + "verify_captcha",
	              data: dataString,
	              beforeSend: function () {
									$(".loader").show();
									$(".form-style-5").addClass("loading");
	              },
	              success: function (response) {
									$(".loader").hide();
									$(".form-style-5").removeClass("loading");
	                  if(response.redirect == "1"){
	  					           window.location = base_url+"DisplayQ/" + response.enfant;
	  				        }else {

	  				        	$("#captcha-verify").prepend("<div class=\"error-alert-warning\">Vérification erronée, Veuillez réessayer à nouveau</div>");
	  				        }
	              }
	          });
	    });
		</script>
{% endblock %}
