{% extends '@AllForKidsMain/Admin/show.html.twig' %}
{% block bodyadmin %}









    <div class="main-content">

        <div class="btn-toolbar list-toolbar">
            <a class="btn btn-primary"   role="button" href="{{ path('ajout_even') }}" >
                <i class="fa fa-plus" ></i> Nouveau evenement
            </a>

            <div class="btn-group">
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>titre</th>
                <th>Image</th>
                <th>Date Debut</th>
                <th>Description</th>
                <th>Ticket dispo</th>
                <th>tarif</th>
                <th>categ</th>
                <th>lieu</th>
                <th>action</th>

                <th style="width: 3.5em;"></th>
            </tr>
            </thead>

            <tbody>
    {% for m in evenement %}
            <tr>
                <td>{{m.titre }}</td>
                <td>
                <a href="{{ asset('images/') }}{{ m.nomImage }}"><img src="{{ asset('images/') }}{{ m.nomImage }}" width='100' height='100' alt='' /></a>
                </td>
                <td>{{m.dateDebut | date}}</td>
                <td>{{m.description}}</td>
                <td>{{m.ticketDisponible}}</td>
                <td>{{m.tarif}}</td>
                <td>{{m.categorie.nomcategorie}}</td>
                <td>{{m.lieu}}</td>

                <td>
                    <a href="{{ path('update_even', {'id_even':m.id_even})  }}" ><i class="fa fa-pencil"></i></a>

                    <a href="{{ path('supprime_even', {'id_even':m.id_even}) }}"  role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>

        {% endfor %}
        </table>

        {#<ul class="pagination">#}
            {#<li><a href="{{ path('affiche_even')}}">&laquo;</a></li>#}
            {#<li><a href="#">1</a></li>#}
            {#<li><a href="#">2</a></li>#}
            {#<li><a href="#">3</a></li>#}
            {#<li><a href="#">4</a></li>#}
            {#<li><a href="#">5</a></li>#}
            {#<li><a href="#">&raquo;</a></li>#}
        {#</ul>#}

        <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Delete Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock bodyadmin %}