{% extends 'default/index.html.twig' %}

    {% block bodyindex %}

        <!--/ .top-panel-->
        <!-- .bg-level-1 -->
        <div id="kids_middle_container">
            <!-- .content -->
            <div class="kids_top_content">
                <div class="kids_top_content_middle ">
                    <div class="header_container ">

                        <h1>Evenement</h1>
                        {% for m in even %}

                        <ul id="breadcrumbs">
                            <li><a href="index.html" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                            <li><span class="current_crumb">  {{m.titre}} </span></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <!-- .kids_top_content_middle -->
            </div>
            <div class="bg-level-2-full-width-container kids_bottom_content">
                <div class="bg-level-2-page-width-container no-padding">
                    <section class="kids_bottom_content_container">
                        <div class="page-content">

                            <div class="container l-page-width">


                        {% for m in even %}
                                        <div class="portfolio iso-column iso-one-column">
                                            <div class="grid isotope" data-ppp="4" data-cols="246">
                                                <div data-categories="wide " class="iso-item">
                                                    <div class="content-wrapper">
                                                        <figure>
                                                            <a title="Project 5" class="prettyPhoto kids_picture" data-rel="prettyPhoto[portfolio]" href="{{ asset('images/') }}{{ m.nomImage }}"></a>
                                                            <img src="{{ asset('images/') }}{{ m.nomImage }}"   alt='' style="height: 400px; width:1150px" />                                                       </figure>
                                                    </div>
                                                    <!--/ content-wrapper-->


                                                    <div data-categories="happyfeet" class="iso-item happyfeet">

                                                        <div class="content-wrapper">



                                                        </div>
                                                        <!--/ content-wrapper-->
                                                        <div class="gallery-text" >
                                                            <div class="title"><a class="link" href="portfolio-single-item.html"></a></div>
                                                        </div>

                                                        <div class="gallery-text">
                                                            <div class="title"><a class="link" href="portfolio-single-item.html">{{m.titre }}</a></div>
                                                            <p>
                                                                Description :
                                                                {{m.description}}
                                                            </p>

                                                            <p>
                                                                Ticket disponible :{{m.ticketDisponible}}
                                                            </p>

                                                            <p>
                                                                Description :
                                                                {{m.description}}

                                                        </div>
                                                        <div>

                                                            <label>   Nombre de ticket à reserver </label>
                                                            <form method="post" action="{{ path('ajout_reservation',{'id_even':m.id_even}) }}">
                                                                <input name="nbr" id="nbr" type="text">
                                                                <input type="submit" value="reserver" >


                                                            </form>


                                                          {#<a href="{{ path('ajout_reservation',{'id_even':m.id_even}) }}"#}
                                                                                  {#onclick="return confirm('Voulez-vous confirmer votre reservation ?')">#}
                                                                    {#<button type="button" class="btn btn-success btn-xs" id="reserver"  >Reserver</button></a></td>#}

                                                                {#<a href="{{ path('ajout_reservation',{'id_even':m.id_even}) }}"  rel="nofollow"#}
                                                                   {#class="button add_to_cart_button product_type_simple">#}
                                                                    {#Reserver#}
                                                                {#</a>#}

                                                            </br>






                                                        </div>
<div>

                                                        {% endfor %}
                                                    {{ form_start(form) }}

                                                    {{ form_widget(form.rating) }}

                                                    {{ form_end(form) }}


                                                    <p>

                                                        {% for r in rating %}
                                                            note : {{ r.rating |rating }}

                                                        {% endfor %}
                                                    </p>
</div>

                                                    <!-- .entry-container -->
                                                </div>
                                            </div>




                                                </div>












                                        </div></div>  </div></section>





                </div>
            </div>
        </div>
                </div>

                    <!-- .bottom_content_container -->
                </div>
            </div>
        </div>

             {#{% if texte  %}#}
                 {#<script>#}
                {#alert('ok');#}
                 {#</script>#}


            {#{% else %}#}

            {#<script>#}
                {#alert('hhhhh');#}
            {#</script>#}


        {#{% endif %}#}

        {#{% if  part == false %}#}
            {#<a href="{{ path("ajout_reservation",{'id':event.id}) }}"  class="cp-btn-style3">reserver place</a>#}


        {#{% else %}#}
            {#<a href="{{ path("annulerEvent",{'id':event.id,'id1':part.id}) }}"  class="cp-btn-style3">annuler</a>#}
        {#{% endif %}#}

    {% endblock bodyindex %}



{#$(function(){#}
{#$("#recherche_form_dql_serie").keyup(#}
{#function()#}
{#{#}
{#var serie=$("#recherche_form_dql_serie").val();#}
{#var DATA='s='+serie;#}
{#s variable visible dans l url#}
{#// alert($('#recherche').val());#}
{#}}});#}
