{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}




    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{% if is_granted('ROLE_BABYSITER') %}
<a href="{{ path('showbaby',{'id': app.getUser().getId() })}}">Editer les paramétre personnels</a>
          {% endif %}