{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    {% if is_granted('ROLE_BABYSITER') %}
    {% block myJavascript %}
        <script type="text/javascript">
            alert("Veuillez Terminer les paramétres de votre compte");
        </script>
    {% endblock %}
    {% endif %}



        <div class="content-wrapper alignright">
            <figure>
                <img src="{{ asset('images/' ~ user.nomimage ) }}" class="alignleft border size-medium"  alt="500x500_1" width="300" height="300">
            </figure>
        </div>
    <div class="post-entry">
        <!--/ post-thumb-->
        <div class="entry">
            <div class="post-title">
                <a href="#">Profile</a>
            </div>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

            {% if is_granted('ROLE_BABYSITER') %}
                <p>Age {{ user.age }}</p>
                <p>Ville{{ user.ville }}</p>
                <p>Adresse{{ user.adresse }}</p>
                <p>Sexe{{ user.sexe }}</p>
                <p>Nombre d'année d'expérience {{ user.nbrAnneeExp }}</p>
                <p>Etat {{ user.etat }}</p>
                <p>Numéro de téléphone{{ user.numTel }}</p>

            {% endif %}
        </div>
        <!--/ entry-->
    </div>


</div>

