{% extends '@AllForKidsMain/Admin/show.html.twig' %}
{% block bodyadmin %}
<html lang="en"><head>



    <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,700')}}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/lib/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('dashboard/lib/font-awesome/css/font-awesome.css')}}">

    <script src="{{ asset('dashboard/lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>



    <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/theme.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dashboard/stylesheets/premium.css')}}">

</head>
<body class=" theme-blue">

<!-- Demo page code -->

<script type="text/javascript">
    $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if(match) var color = match[1];
        if(color) {
            $('body').removeClass(function (index, css) {
                return (css.match (/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});
        $('#form').change(
            function(){

                var DATA='theme='+$('#theme').val()+'&category='+$('#category').val();
                $.ajax({
                    type:'post'
                    ,url:"{{ path('AfficheVideo') }}",
                    data:DATA,
                    beforeSend:function()
                    {
                        console.log(DATA) ;
                    },
                    success:function (response) {


                        $.each(response,function (k,el) {
                            console.log(el.video);

                        })
                    },
                })

            });

    });
</script>
<style type="text/css">
    #line-chart {
        height:300px;
        width:800px;
        margin: 0px auto;
        margin-top: 1em;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }
</style>

<script type="text/javascript">
    $(function() {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<style type="text/css">
    #line-chart {
        height:300px;
        width:800px;
        margin: 0px auto;
        margin-top: 1em;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }
    .form-group label {
        width: 110px;
        display: inline-block;
    }
    .form-group {
        margin-bottom: 6px;
    }
    input[type="text"] {
        width: 241px;
        height: 25px;
    }
</style>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


<br/>
<br/>

<form action="{{path('AfficheVideo')}}" method="post" id="form">

    <div class="form-group">
        <label for="quiz">Thème de quiz : </label>
        <select type="text" name="theme" id="theme">
            <option value=""></option>
            <option value="Mathématique">Mathématique</option>
            <option value="Science">Science</option>
            <option value="Culture Générale">Culture Générale</option>
            <option value="Culture Générale">Langue</option>
        </select>
    </div>
    <div class="form-group">
        <label for="quiz">Catégorie age : </label><select type="text" name="category" id="category">
            <option value=""></option>
            <option value="4-6">4-6</option>
            <option value="7-9">7-9</option>
            <option value="10-12">10-12</option>
            <option value="13-15">13-15</option>
        </select>
    </div>
    <input type="submit" value="valider"/>
</form>
<div class="btn-toolbar list-toolbar">
    <a class="btn btn-primary" role="button" href="{{ path('AjouterVideo') }}"><i class="fa fa-plus"></i> Ajouter Video</a>

    <div class="btn-group">
    </div>
</div>
<div id="div1">
</div>
{% for v in video  %}
<div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-default">
                    <p class="panel-heading">{{ v.description }}<a href="{{ path('SupprimerVideo',{'id':v.id}) }}" role="button" data-toggle="modal"><i class='fa fa-trash-o' style="float: right"></i></a></p>
                    <div class="panel-body gallery">
                        <div style='height :70% ;width :100%'>
                            {{dump(v.video())}}
                            {{ v.video()|raw }}
                         </div>
                    </div>
                </div>

            </div>

{% endfor %}
</div>






</body>
</html>

<script src="{{asset('dashboard/lib/bootstrap/js/bootstrap.js')}}"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
    });


</script>
{% endblock %}



