{% extends 'default/index.html.twig' %}
 {% trans_default_domain 'FOSUserBundle' %}
{% block bodyindex %}
    <html class="no-ie">
<head>
    <style>

    </style>

    <link rel="shortcut icon" href={{ asset("bundle/assets/images/favicon.png")}}>
    <link rel="stylesheet" href={{ asset("bundle/assets/css/font-awesome.css")}}>
    <link rel="stylesheet" type="text/css" href={{ asset("bundle/assets/css/styles.css")}} />
    <link rel="stylesheet" type="text/css" href={{ asset("bundle/assets/css/flexnav.css")}} />
    <link rel="stylesheet" type="text/css" href={{ asset("bundle/assets/css/prettyPhoto.css")}} />
    <link rel="stylesheet" type="text/css" href={{ asset("bundle/assets/tuner/css/colorpicker.css")}} />
    <link rel="stylesheet" type="text/css" href={{ asset("bundle/assets/tuner/css/styles.css")}} />
</head>



<div id="kids_middle_container">
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Quiz</h1>
                    <ul id="breadcrumbs">
                        <li><a href="index.html" title="Home">Home/Quiz</a></li><span class="delimiter"></span>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <form action="{{ path('DisplayVideo') }}" method="post">
        <p>
        <center> <label style="font-size: large" for="quiz"><b style="font-size: large;color: #00a5bc">Thème de quiz :</b>
                <select type="text" name="theme" id="theme" class="country_to_state country_select" name="theme">
                    <option value="" selected></option>
                    <option value="Mathématique">Mathématique</option>
                    <option value="Science">Science</option>
                    <option value="Culture Générale">Culture Générale</option>
                    <option value="Langue">Langue</option>
                </select></label><br/>
            <input type="submit" value="chercher"/></center></p>


    </form>

    {% for v in video  %}

    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">

                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main class="blog">
                                <article class="post-item">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="day">{{ v.id }}</span>
                                            <span class="month">{{ v.date }}</span>
                                        </div>
                                        <!--/ post-date-->
                                    </div>
                                    <!--/ post-meta-->
                                    <div class="post-entry">
                                        <div class="content-wrapper alignleft">
                                            <figure style="width: 370px; height: 208.125px">
                                                <iframe width="100%" height='100%' src="{{ v.type|generateUrl(v.identif)}}"  frameborder='0'  allowfullscreen></iframe>
                                            </figure>
                                        </div>
                                        <!--/ post-thumb-->
                                        <div class="entry">
                                            <div class="post-title">
                                                <a href="#">Video {{ v.theme }}</a>
                                            </div>
                                            <!--/ post-title-->
                                            <p><b>Video {{ v.theme }}</b></p>
                                            <p>{{ v.description }} </p>
                                        </div>
                                    </div>

                                    <div class="post-footer">
                                        <span class="l-float-right"><a href="blog-single-post.html" class="more-link cws_button"> Read more </a></span>
                                        <div class="post_cats">
                                            <p><span>Category:</span><a class="link" href="#" title="View all posts in">{{ v.categorieage }}</a></p>
                                        </div>
                                        <!--/ post-cats -->
                                        <div class="post_tags">
                                            <p><span>Théme:</span>
                                                <a href='#' title='Tag' class='link'>{{ v.theme }}</a></p>
                                        </div>
                                        <!--/ post-tags -->
                                        <div class="kids_clear"></div>
                                    </div>
                                    <!--/ post-footer-->
                                </article>
                                {% endfor  %}
                                <div class="kids_clear"></div>
                        </div>

                    </div>

                    <div class="bg-level-2 second-part"></div>
                </div>

            </section>


        </div>

    </div>
</div>







<style id='cws-cp-1'></style>
<style id='cws-cp-2'></style>
<style id='cws-cp-3'></style>
<style id='cws-cp-4'></style>
<style id='cws-cp-5'></style>

<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/tuner/js/colorpicker.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/tuner/js/scripts.js')}}></script>
<script type="text/javascript" src={{ asset('bundle/assets/js/jquery-ui.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/scripts.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/retina.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.tweet.js')}}></script>
<script src={{ asset('bundle/assets/js/jquery.lavalamp-1.4.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.easing-1.3.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/owl.carousel.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.isotope.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.flexnav.min.js')}}></script>
<script type='text/javascript' src={{ asset('bundle/assets/js/jquery.prettyPhoto.js')}}></script>



{% endblock  %}