{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ socialButtons() }}

<h3>Liste des Babysitter</h3>


    {% for babysitter in babysitter %}

            <article class="post-item">
                <div class="post-meta">
                    <div class="post-date">
                        <span class="day">3</span>
                        <span class="month">Jan.2015</span>
                    </div>
                    <!--/ post-date-->
                </div>
                <!--/ post-meta-->
                <div class="post-entry">
                    <div class="content-wrapper alignleft">
                        <figure>
                            <a class="prettyPhoto kids_picture" title="Image Post" href="pic/HappyFeet_1st4.jpg"><img class="pic" src="{{ asset('images/' ~ babysitter.nomimage ) }}" alt="Image Post" width="300" height="300"/></a>
                        </figure>
                    </div>
                    <!--/ post-thumb-->
                    <div class="entry">
                        <div class="post-title">
                            <a href="#">{{  babysitter.username }}</a>
                        </div>
                        <!--/ post-title-->
                        <p><b>{{ babysitter.ville }}</b></p><p><b>{{ babysitter.etat }}</b></p>
                        <p> Je suis {{  babysitter.username }} et j'ai {{ babysitter.age }} ans je vis à {{ babysitter.adresse }}. J'ai fais {{  babysitter.nbrAnneeExp }} ans
                        d'années d'expérience et mon numéro de téléphone est : {{  babysitter.numTel }}</p>
                        <p> vous pouvez m'nvoyer votre offre ou me contacter aussi par mail : {{  babysitter.email }} </p>
                    </div>
                    <!--/ entry-->
                </div>

                <!--/ post-entry -->
                <div class="post-footer">
                    <span class="l-float-right"><a href="{{ path('AjoutOffre', { 'id': babysitter.id, 'idU': app.getUser().getId() }) }}" class="more-link cws_button" > Envoyer Offre </a></span>
                    <div class="post_cats">
                        <p><span>Category:</span><a class="link" href="{{ path('AjoutAvis', { 'id': babysitter.id , 'idU': app.getUser().getId()}) }}" title="View all posts">Avis</a></p>
                    </div>
                    <!--/ post-cats -->
                    <div class="post_tags">
                        <p><span>Tags:</span>
                            <a href='#' title='Tag' class='link'>Blog</a> </p>
                    </div>
                    <!--/ post-tags -->
                    <div class="kids_clear"></div>
                </div>
                <!--/ post-footer-->
            </article>

    {% endfor %}

{% endblock fos_user_content %}
