{% extends'default/index.html.twig' %}

{% block bodyindex %}
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Avis</h1>
                    <ul id="breadcrumbs">
                        <li><span class="current_crumb">Information Personnels</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
    <div class="bg-level-2-page-width-container no-padding">
    <section class="kids_bottom_content_container">
    <!-- ***************** - START Image floating - *************** -->
    <div class="page-content">
    <div class="bg-level-2 first-part"></div>
    <div class="container l-page-width">
    <div class="entry-container single-sidebar">

{{ form(Form) }}
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>


{% endblock bodyindex %}