<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>HappyKids &#8211; Premium Children HTML Template</title>
        <link rel="alternate" type="application/rss+xml" title="HappyKids - Premium Children HTML Template &raquo; Comments Feed" href="#" />
        <link rel="shortcut icon" href="{{ asset('bundle/Assets/images/apple-touch-icon.png') }}">
        <link rel="stylesheet" href="{{ asset('bundles/Assets/css/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/maps.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/woocommerce.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/flexnav.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/prettyPhoto.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/colorpicker.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/revslider/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Assets/css/style.css') }}"/>
        <link rel='stylesheet prefetch' href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:400,300') }}"/>
        <link rel='stylesheet prefetch' href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons') }}"/>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/colorpicker.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/revslider/jquery.themepunch.revolution.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/revslider/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery-ui.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.lavalamp-1.4.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.easing-1.3.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/owl.carousel.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.prettyPhoto.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.isotope.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.flexnav.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/js/index.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundle/Assets/images/favicon.ico') }}" />
</head>
<body data-type-of-widget="2" class="page secondary-page t-pattern-1">
<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Right Sidebar</h1>
                    <ul id="breadcrumbs">
                        <li><a href="index.html" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                        <li><span class="current_crumb">Right Sidebar</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container single-sidebar">

                            <aside id="sidebar-right">
                                <div id="search-6" class="widget widget_search type-2">
                                    <h3 class="widget-title">Search</h3>
                                    <form role="search" id="search-form" method="get" action="">
                                        <input type="text" value="" name="s" id="s" />
                                        <input class="button medium button-style1" type="submit" id="search-submit" value="Search" />
                                    </form>
                                </div>
                                <div id="cws_nav-3" class="widget widget_cws_nav type-2 type-2">
                                    <h3 class="widget-title">Navigation</h3>
                                    <div class="widget-content">
                                        <div class="nav_cat">
                                            <ul id="nav-125" class="menu">
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                                                <li class="menu-item"><a href="#">Portfolio</a></li>
                                                <li class="menu-item"><a href="blog-right-sidebar.html">Blog</a></li>
                                                <li class="menu-item"><a href="shop.html">Shop</a></li>
                                                <li class="menu-item"><a href="page-contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="widget widget_cws_latest_posts type-2">
                                    <div class="latest-posts-widget">
                                        <h3 class="widget-title">Latest Posts</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li>
                                                    <div class="kids_image_wrapper ">
                                                        <a href="pic/HappyFeet_1st4.jpg" class="prettyPhoto kids_mini_picture" data-rel="prettyPhoto[rpwt]"><img src="pic/70x70-img-1.jpg" width="70" height="70" alt=""></a>
                                                    </div>
                                                    <div class="kids_post_content">
                                                        <h4><a href="#">Image Post</a></h4>Lorem ipsum dolor ...
                                                        <p></p>
                                                        <p class="time-post">January 3, 2015</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="kids_image_wrapper ">
                                                        <a href="pic/LegoMovie_3rd4.jpg" class="prettyPhoto kids_mini_picture" data-rel="prettyPhoto[rpwt]"><img src="pic/70x70-img-2.jpg" width="70" height="70" alt=""></a>
                                                    </div>
                                                    <div class="kids_post_content">
                                                        <h4><a href="#">Image Post</a></h4>Lorem ipsum dolor ...
                                                        <p></p>
                                                        <p class="time-post">January 2, 2015</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="kids_image_wrapper ">
                                                        <a href="pic/Tangled_3rd5.jpg" class="prettyPhoto kids_mini_picture" data-rel="prettyPhoto[rpwt]"><img src="pic/70x70-img-3.jpg" width="70" height="70" alt=""></a>
                                                    </div>
                                                    <div class="kids_post_content">
                                                        <h4><a href="#">Video blog post</a></h4>Lorem ipsum dolor ...
                                                        <p></p>
                                                        <p class="time-post">January 1, 2015</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="kids_middle_container">
    <!-- .content -->
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="container l-page-width">
                        {{ form(Form) }}
                    </div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>
</div>

                        <!-- .entry-container -->
                    <div class="kids-footer-copyrights footer">
                        <div class="l-page-width  clearfix">
                            <div class="wrapper">
                                <ul class="kids_social">
                                    <li><a href="https://plus.google.com/115553712051048113965" title="Google Plus" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a><span style="background-color:#dd4b39;"></span></li>
                                    <li><a href="https://www.facebook.com/CreaWS" title="Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a><span style="background-color:#3b5998;"></span></li>
                                    <li><a href="https://www.youtube.com/user/cwsvideotuts" title="Youtube" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a><span style="background-color:#b31217;"></span></li>
                                    <li><a href="https://twitter.com/Creative_WS" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a><span style="background-color:#4099ff;"></span></li>
                                    <li class="lang_bar">
                                        <div id="lang_sel">
                                            <ul>
                                                <li>
                                                    <a href="#" class="lang_sel_sel icl-en"><img class="iclflag" src="images/en.png" alt="en" title="English" /> &nbsp;
                                                    </a>
                                                    <ul>
                                                        <li class="icl-fr">
                                                            <a href="#"><img class="iclflag" src="images/fr.png" alt="fr" title="Français" />&nbsp;</a>
                                                        </li>
                                                        <li class="icl-de">
                                                            <a href="#"><img class="iclflag" src="images/de.png" alt="de" title="Deutsch" />&nbsp;</a>
                                                        </li>
                                                        <li class="icl-it">
                                                            <a href="#"><img class="iclflag" src="images/it.png" alt="it" title="Italiano" />&nbsp;</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="widget widget_text">
                                    <div class="textwidget">Copyrights @2015: Happy Kids - Children HTML Template</div>
                                </div>
                            </div>
                        </div>
                        <div class="dark-mask"></div>
                    </div>
                    <!-- tuner -->
                    <div id="tuner" class="tuner">
                        <label>Template Colors</label>
                        <div class="colors">
                            Main:
                            <div id="color-1" class="color-picker" data-color="#8fc0ea" style="background-color:#8fc0ea;"></div>
                            Secondary:
                            <div id="color-2" class="color-picker" data-color="#fcf5d5" style="background-color:#fcf5d5;"></div>
                            Outline:
                            <div id="color-3" class="color-picker" data-color="#fee6b4" style="background-color:#fee6b4;"></div>
                            Footer:
                            <div id="color-4" class="color-picker" data-color="#3185cb" style="background-color:#3185cb;"></div>
                            Menu:
                            <div id="color-5" class="color-picker" data-color="#3185cb" style="background-color:#3185cb;"></div>
                        </div>
                        <label>Patterns</label>
                        <ul class="patterns">
                            <li data-pattern="1" class="color-blue active"></li>
                            <li data-pattern="2" class="color-blue" style="background-position: -132px -44px;"></li>
                            <li data-pattern="3" class="color-blue" style="background-position: -88px 0;"></li>
                            <li data-pattern="4" class="color-blue" style="background-position: -88px -44px;"></li>
                            <li data-pattern="5" class="color-blue" style="background-position: -44px 0;"></li>
                            <li data-pattern="6" class="color-blue" style="background-position: -132px 0;"></li>
                            <li data-pattern="7" class="color-blue" style="background-position: -176px 0;"></li>
                            <li data-pattern="8" class="color-blue" style="background-position: 0 -44px;"></li>
                            <li data-pattern="9" class="color-blue" style="background-position: -44px -44px;"></li>
                        </ul>
                        <i id="tuner-switcher" class="fa fa-cogs"></i>
                    </div>
                    <div id="tuner-style-1" class="tuner-style" style="display: none;">
                        /* Colors for: main color */ .kids-bg-level-1{ background: #<span>cws_theme_color#</span>; } .kids_social .lang_bar>div>ul ul{ border-color: #<span>cws_theme_color#</span>; }
                    </div>
                    <div id="tuner-style-2" class="tuner-style" style="display: none;">
                        /* Colors for: middle content (the sand color) */ aside .widget>.latest-posts-widget>.widget-content, aside .widget.widget_categories>.ui-widget, aside .widget.widget_archive>ul, aside .widget_calendar>#calendar_wrap, aside .widget_recent_comments>#recentcomments, aside .widget>.textwidget, aside .widget>.tagcloud, aside .widget_search>#search-form, aside .widget_cws_video .widget-content>.widget_video, aside .widget>.contact-us, aside .widget_cws_nav>.widget-content>.nav_cat, aside .widget_meta>ul, aside .widget_recent_entries>ul, aside .widget_pages>ul, aside .widget_categories>ul, aside .cws_tweets, aside .postform, aside .flickr-badge, aside .widget_cws_benefits .cws-widget-content .text_part, aside .widget_shopping_cart_content, aside .woocommerce.widget_price_filter>form, aside .woocommerce.widget_product_categories .product-categories, aside .woocommerce.widget_products .product_list_widget, aside .woocommerce.widget_product_search>form, aside .woocommerce.widget_recent_reviews .product_list_widget, aside .woocommerce.widget_recently_viewed_products .product_list_widget, aside .woocommerce.widget_top_rated_products .product_list_widget, aside .woocommerce.widget_layered_nav_filters>ul, .flickr-badge img, .kids_image_wrapper, .woocommerce .product_list_widget img{ border-color: #<span>cws_theme_color_middle#</span>; } .kids_top_content_middle, .post-entry, .accordion_content, .callout_widget .icons_part, .pagenavi .page, .pagenavi .nextpostslink, .pagenavi .prevpostslink, .pagenavi a.page-numbers, .tab_items, .tab_container, .widget.woocommerce.widget_price_filter .ui-slider-range, .pricing_table_column .button_part, .page-content blockquote, .testimonial{ background-color: #<span>cws_theme_color_middle#</span>; } .chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .country_select{ background: #<span>cws_theme_color_middle#</span>; } /* sand color */ hr{ border-color: #<span>cws_theme_color_middle_helper#</span>; }
                    </div>
                    <div id="tuner-style-3" class="tuner-style" style="display: none;">
                        /* Colors for middle content helper */ .media-block .kids_picture, body.home .kids_top_content_middle.homepage .bottom-border, .kids_top_content_middle, .entry-container #comments ol > .comment, .entry-container .children .comment, form textarea, input[type*="text"], input[type="password"], input[type="email"], .user-login input[type="text"], .search input[type="text"], .contact-us input[type="text"], .contact-us textarea, .wpcf7 input, .pricing_table_column, .flxmap-container, .entry-container #respond_block, .avatar, pre, table, th, td, .kids_posts_container .widget_wrapper>div, .tabs .tab, .accordion_section, .accordion_widget, .toggle_widget, .tab_items, .slogan:after, .callout_widget, img.border, select, .woocommerce-ordering>select, .woocommerce-result-count+ul.products, .woocommerce-ordering+ul.products, .content-wrapper figure, .woocommerce div.product div.images div.thumbnails .content-wrapper figure, .woocommerce-page div.product div.images div.thumbnails .content-wrapper figure, .woocommerce-page #reviews #comments ol.commentlist li, .woocommerce-tabs #reviews #comments ol.commentlist li, .woocommerce .product-thumbnail img, .chosen-container-single .chosen-single, .chosen-container .chosen-drop, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-search input[type=text], #order_review, .iso-column .iso-item, .portfolio>.item, .portfolio .filter, .widget.woocommerce.widget_shopping_cart ul>li, .widget.woocommerce.widget_price_filter .ui-slider-horizontal, .widget.woocommerce.widget_price_filter .ui-slider-handle, .widget.woocommerce.widget_product_categories li, .widget.woocommerce.widget_layered_nav li, .widget.woocommerce.widget_product_categories li ul li:first-child, .widget.woocommerce.widget_layered_nav li ul li:first-child, .widget.woocommerce.widget_shopping_cart ul>li, .woocommerce .product_list_widget>li, ul.tabs>li, .woocommerce-page .shipping_calculator, .woocommerce-page .cart_totals, .woocommerce-page .shipping_calculator .shipping-calculator-form .country_to_state, main .cws_tweets ul.latest_tweets li li, aside .cws_tweets ul.latest_tweets li li, aside .widget_recent_entries ul li, aside .widget_archive ul li, aside .widget_pages ul li, aside .widget_nav_menu ul li, aside .cws_tweets ul.latest_tweets li li, aside .widget_categories ul li, aside .widget_recent_comments ul li, aside .gl_cat ul > li, aside .nav_cat ul > li, aside .latest-posts-widget ul li, aside .widget_meta ul li, .tab_container, .widget_recent_entries ul li, .widget_archive ul li, .widget_pages ul li, .widget_nav_menu ul li, .widget_categories ul li, .widget_recent_comments ul li, .widget_meta ul li, .widget.woocommerce.widget_product_categories li, .widget.woocommerce.widget_layered_nav li, .latest-posts-widget ul li, .gl_cat ul > li, .nav_cat ul > li, ul.latest_tweets li li, .widget_calendar #calendar_wrap, .country_select{ border-color: #<span>cws_theme_color_middle_helper#</span>; } .owl-carousel .owl-buttons>div, main .cws-widget .carousel_header .widget_carousel_nav i, .pricing_table_column .price_part, .pricing_table_header, .tabs .tab.active, .accordion_section.active .accordion_title, .accordion_section .accordion_title:hover, .pagenavi .current, .pagenavi .page:hover, .pagenavi .prevpostslink:hover, .pagenavi .nextpostslink:hover, .pagenavi a.page-numbers:hover, .widget_calendar table td#today:before, .widget_calendar table td>a:before, .post-footer, ul.tabs>li.active, .post-meta .post-comments, .widget_calendar caption{ background-color: #<span>cws_theme_color_middle_helper#</span>; }
                    </div>
                    <div id="tuner-style-4" class="tuner-style" style="display: none;">
                        /* Colors for: footer */ .footer, .footer .widget_calendar table tbody, .top-panel .widget_calendar table tbody, .top-panel, #kids_header .kids_social .openbtn a, #kids_header .kids_social span, #kids_header .kids_social li.hide, .kids_social .lang_bar>div>ul a:after, .kids_social .lang_bar>div>ul a:before{ background-color: #<span>cws_footer_color#</span>; } #kids_header .kids_social li, .kids_social .lang_bar>div>ul>li>a:before{ background-color: #<span>rgba(#cws_footer_color_rgb#,0.65)</span>; } .top-panel{ border-color: #<span>cws_footer_color#</span>; }
                    </div>
                    <div id="tuner-style-5" class="tuner-style" style="display: none;">
                        /* Colors for: top bar, menu, buttons, widget titles */ .cws_button , .kids_curtain:before, .accordion li a.opener:before, ul li:before, .post-meta .post-date:before,b.trigger:before, b.trigger:before, .accordion_title .accordion_icon, .accordion_title .acc_featured_icon, aside .widget h3.widget-title, aside .widget.type-3 h3.widget-title .cloud-element-1:before, aside .widget.type-3 h3.widget-title .cloud-element-1:after, aside .widget.type-3 h3.widget-title .cloud-element-2:before, aside .widget.type-3 h3.widget-title .cloud-element-2:after, aside .widget.type-3 h3.widget-title .cloud-element-3:before, aside .widget.type-3 h3.widget-title .cloud-element-3:after, #kids_main_nav ul ul li:hover, #kids_main_nav > ul > li > a:before, #kids_main_nav ul ul, .touch_device #kids_main_nav>ul, .single_bar .progress, #respond_block .comment-reply-link, #respond_block .comment-edit-link, #post_comment, #search-form .button, .wpcf7 input[type="submit"], input[type="radio"]:checked:before, .soc_icon.fa, .woocommerce .widget_shopping_cart_content .buttons a.button, .woocommerce .products a.add_to_cart_button, .woocommerce .products a.added_to_cart, .woocommerce-page .button, .woocommerce-page [type="submit"], .woocommerce-page [type="button"]:not(.plus):not(.minus), .woocommerce-page .added_to_cart, .woocommerce .button, .woocommerce [type="submit"], .woocommerce [type="button"]:not(.plus):not(.minus), .woocommerce .added_to_cart, #kids-back-top span, .gl_cat .backLava, .nav_cat .backLava, .owl-controls.clickable .owl-pagination .owl-page.active span, .tparrows.default:after, .menu-button{ background-color: #<span>cws_menu_color#</span>; } @media screen and (max-width: 980px){ #kids_main_nav>ul{ background-color: #<span>cws_menu_color#</span>; } } .pricing_table_header .title, .widget_categories ul li:before, .catappendspan:before{ color: #<span>cws_menu_color#</span>; } input[type="checkbox"]:before{ color: #<span>cws_menu_color#</span>; }
                    </div>
                    <style id='cws-cp-1'></style>
                    <style id='cws-cp-2'></style>
                    <style id='cws-cp-3'></style>
                    <style id='cws-cp-4'></style>
                    <style id='cws-cp-5'></style>
                    <!--/ tuner -->

                    <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery-ui.min.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/retina.min.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.tweet.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.lavalamp-1.4.min.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.easing-1.3.min.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/owl.carousel.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.prettyPhoto.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.isotope.min.js') }}"></script>
                    <script type='text/javascript' src="{{ asset('bundles/Assets/js/jquery.flexnav.min.js') }}"></script>





                    </body>
</html>