<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}All For Kids{% endblock %}</title>
    {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/calender.css') }}" >
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/Assets/images/favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Assets/css/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/maps.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/woocommerce.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/flexnav.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/prettyPhoto.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/colorpicker.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/tuner/css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/revslider/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Assets/css/Formulaire.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Assets/css/model.css') }}" />



    {% endblock %}







</head>






        <body data-type-of-widget="2" class="home page kids-front-page t-pattern-1">
        <!-- HEADER BEGIN -->
        <div class="top-panel">
            <div class="l-page-width clearfix">
                <div class="wrapper">

                </div>
            </div>
        </div>
        <div class="kids-bg-level-1">
            <div class="bg-level-1"></div>
            <header id="kids_header">
                <div class="l-page-width clearfix">
                    <ul class="kids_social">
                        <li class="search">
                            <a href="#" title="Search"></a><span style="height: 0px; opacity: 0;"></span></li>
                        <li>
                        <li><form role="search" id="search-form" method="get" action="">
                                <input type="text" value="" name="s" id="s">
                                <input class="button medium button-style1" type="submit" id="search-submit" value="Search">
                            </form>
                        </li>


                    </ul>
                    <div class="kids_clear"></div>
                    <div id="kids_logo_block" class="logo-position-left">
                        <a id="kids_logo_text" href="{{ path('all_for_kids_main_homepage') }}"><img src="{{ asset('bundles/Assets/images/logo.png') }}" alt="All ForKids" title="All For Kids"></a>
                    </div>
                    <nav id="kids_main_nav" class="menu-position-right">
                        <div class="menu-button">
                            <span class="menu-button-line"></span>
                            <span class="menu-button-line"></span>
                            <span class="menu-button-line"></span>
                        </div>
                        <ul id="menu-main" class="clearfix flexnav " data-breakpoint="800">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="{{ path('accueil') }}">Accueil </a></li>
                            <li class="menu-item menu-item-has-children"><a href="#">Evenements</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ path('listeEven') }}">Tous les evenements</a></li>

                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="{{ path('espace_sante_homepage') }}">Espace Santé</a>
                            </li>
                            <li class="menu-itemmenu-item-has-children"><a href="{{ path('ListeBaby')}}">Baby Sitting</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ path('Liste_Offre') }}">Offres</a></li>
                                    <li class="menu-item"><a href="portfolio-right-sidebar.html">Right Sidebar</a></li>
                                    <li class="menu-item"><a href="portfolio-left-sidebar.html">Left Sidebar</a></li>
                                    <li class="menu-item"><a href="portfolio-double-sidebars.html">Double Sidebars</a></li>
                                    <li class="menu-item"><a href="portfolio-gallery.html">Gallery</a></li>
                                    <li class="menu-item"><a href="portfolio-gallery-sidebar.html">Gallery + Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#">Espace Enfant</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                    <li class="menu-item"><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                    <li class="menu-item"><a href="blog-double-sidebars.html">DoubleSidebars</a></li>
                                    <li class="menu-item"><a href="blog-fullwidth.html">Full Width</a></li>

                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="{{ path('Liste') }}">Notre Store</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="shop-shortcodes.html">Woo Shortcodes</a></li>
                                    <li class="menu-item"><a href="shop-cart.html">Cart</a></li>
                                    <li class="menu-item"><a href="shop-checkout.html">S'inscrire</a></li>
                                    <li class="menu-item"><a href="shop-account.html">s'inscrire</a></li>

                                </ul>
                            </li>

                            <li class="menu-item menu-item-has-children"><a href="{{ path ('fos_user_profile_show') }}">Mon Compte</a>
                                <ul class="sub-menu">


                                    {%if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li class="menu-item"><a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                        <li class="menu-item"><a href="{{ path('fos_user_profile_edit')}}">Parametres du compte</a></li>
                                        <li class="menu-item"><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>

                                    {% else%}
                                        <li class="menu-item"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                                        <li class="menu-item"><a href="{{ path('fos_user_security_login') }}">Se Connecter</a></li>
                                    {% endif %}

                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- #kids_main_nav -->
                </div>
                <!--/ .l-page-width-->
            </header>
            <!--/ #kids_header-->
            <!-- HEADER END -->

        </div>
        {% block pediatre %}
        <!-- .bg-level-1 -->
        <div id="kids_middle_container">
            <!-- .content -->
            <div class="kids_top_content">
                <div class="kids_top_content_middle ">
                    <div class="header_container ">
                        <div class="l-page-width">
                            <h1></h1>
                            <ul id="breadcrumbs">
                                <li><a href="{{ path('all_for_kids_main_homepage') }}" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                                <li><a href="{{ path('espace_sante_homepage') }}" ><span class="current_crumb">Espace Santé</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="bg-level-2-full-width-container kids_bottom_content">
                <div class="bg-level-2-page-width-container no-padding">
                    <section class="kids_bottom_content_container">
                        <!-- ***************** - START Image floating - *************** -->
                        <div class="page-content">
                            <div class="container l-page-width">
                                <div class="entry-container double-sidebar">
                                    <aside id="sidebar-left">
                                        <div id="cws_flickr-6" class="widget widget_cws_flickr">
                                            <div class="flickr widget_flickr_feed">

                                                <div id="calendar">
                                                    <p id="calendar-day"></p>
                                                    <p id="calendar-date"></p>
                                                    <p id="calendar-month-year"></p>
                                                </div>
                                            </div>
                                        </div>

                                    </aside>
                                    <main>
                                        <div class='grid-row clearfix'>
                                            <div class='grid-col grid-col-12'>
                                                <section class='cws-widget'>
                                        {% block bodyhome %}

                                        {% endblock bodyhome %}
                                                </section>
                                            </div>
                                        </div>

                                        <div class='grid-row clearfix'>
                                            <div class='grid-col grid-col-12'>
                                                <section class='cws-widget'>
                                                    <section class='cws_widget_content'>

                                                        {% block addvaccin %}
                                                        {% endblock addvaccin %}
                                                        <!--/ .work-carousel-->
                                                        <hr />
                                                    </section>
                                                </section>
                                            </div>
                                        </div>
                                         <!-- comments block -->
                                        <!-- //end comments block -->
                                    </main>
                                    <aside id="sidebar-right">
                                        <div id="search-6" class="widget widget_search type-2">
                                            <h3 class="widget-title">Chercher des Pediatres</h3>
                                            <form role="search" id="search-form" method="get" action="">
                                                <input type="text" value="" name="s" id="s" />
                                                <input class="button medium button-style1" type="submit" id="search-submit" value="Search" />
                                            </form>
                                        </div>

                                        <div class="widget widget_cws_latest_posts type-2">
                                            <div class="latest-posts-widget">
                                                <h3 class="widget-title">Pediatres</h3>
                                                <div class="widget-content">
                                                   <a href="{{ path('espace_sante_pediatres') }}" style= "margin-left: 35%">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                    <div class="kids_clear"></div>
                                </div>
                                <!-- .entry-container -->
                            </div>
                        </div>
                        <!-- ***************** - END Image floating - *************** -->
                    </section>
                    <!-- .bottom_content_container -->
                </div>
                <div class="content_bottom_bg"></div>
            </div>
        </div>
        </div>
        <!-- .end_content -->
        {% endblock pediatre %}
        <!-- FOOTER BEGIN -->
        <div class="kids_bottom_container footer">
            <div class="l-page-width">

                <!-- /wrapper -->
            </div>
            <!--/ l-page-width-->
        </div>
        <!-- .kids_bottom_container -->
        <div class="kids-footer-copyrights footer">
            <div class="l-page-width  clearfix">
                <div class="wrapper">
                    <ul class="kids_social">
                        <li class="lang_bar">
                            <div id="lang_sel">
                                <ul>
                                    <li>
                                        <a href="#" class="lang_sel_sel icl-en"><img class="iclflag" src="{{asset('bundles/Assets/images/en.png')}}" alt="en" title="English"> &nbsp;
                                        </a>
                                        <ul>
                                            <li class="icl-fr">
                                                <a href="#"><img class="iclflag" src="{{asset('bundles/Assets/images/fr.png')}}" alt="fr" title="Français">&nbsp;</a>
                                            </li>
                                            <li class="icl-de">
                                                <a href="#"><img class="iclflag" src="{{asset('bundles/Assets/images/de.png')}}" alt="de" title="Deutsch">&nbsp;</a>
                                            </li>
                                            <li class="icl-it">
                                                <a href="#"><img class="iclflag" src="{{asset('bundles/Assets/images/it.png')}}" alt="it" title="Italiano">&nbsp;</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="widget widget_text">
                        <div class="textwidget">Copyrights @2018: All For Kids </div>
                    </div>
                </div>
            </div>
            <div class="dark-mask"></div>
        </div>
        <!-- tuner -->
        <div id="tuner" class="tuner">
            <label>Template Colors</label>
            <div class="colors">
                Main:
                <div id="color-1" class="color-picker" data-color="#8fc0ea" style="background-color:#8fc0ea;"></div>
                Secondary:
                <div id="color-2" class="color-picker" data-color="#fcf5d5" style="background-color:#fcf5d5;"></div>
                Outline:
                <div id="color-3" class="color-picker" data-color="#fee6b4" style="background-color:#fee6b4;"></div>
                Footer:
                <div id="color-4" class="color-picker" data-color="#3185cb" style="background-color:#3185cb;"></div>
                Menu:
                <div id="color-5" class="color-picker" data-color="#3185cb" style="background-color:#3185cb;"></div>
            </div>
            <label>Patterns</label>
            <ul class="patterns">
                <li data-pattern="1" class="color-blue active"></li>
                <li data-pattern="2" class="color-blue" style="background-position: -132px -44px;"></li>
                <li data-pattern="3" class="color-blue" style="background-position: -88px 0;"></li>
                <li data-pattern="4" class="color-blue" style="background-position: -88px -44px;"></li>
                <li data-pattern="5" class="color-blue" style="background-position: -44px 0;"></li>
                <li data-pattern="6" class="color-blue" style="background-position: -132px 0;"></li>
                <li data-pattern="7" class="color-blue" style="background-position: -176px 0;"></li>
                <li data-pattern="8" class="color-blue" style="background-position: 0 -44px;"></li>
                <li data-pattern="9" class="color-blue" style="background-position: -44px -44px;"></li>
            </ul>
            <i id="tuner-switcher" class="fa fa-cogs"></i>
        </div>
        <div id="tuner-style-1" class="tuner-style" style="display: none;">
            /* Colors for: main color */ .kids-bg-level-1{ background: #<span>cws_theme_color#</span>; } .kids_social .lang_bar>div>ul ul{ border-color: #<span>cws_theme_color#</span>; }
        </div>
        <div id="tuner-style-2" class="tuner-style" style="display: none;">
            /* Colors for: middle content (the sand color) */ aside .widget>.latest-posts-widget>.widget-content, aside .widget.widget_categories>.ui-widget, aside .widget.widget_archive>ul, aside .widget_calendar>#calendar_wrap, aside .widget_recent_comments>#recentcomments, aside .widget>.textwidget, aside .widget>.tagcloud, aside .widget_search>#search-form, aside .widget_cws_video .widget-content>.widget_video, aside .widget>.contact-us, aside .widget_cws_nav>.widget-content>.nav_cat, aside .widget_meta>ul, aside .widget_recent_entries>ul, aside .widget_pages>ul, aside .widget_categories>ul, aside .cws_tweets, aside .postform, aside .flickr-badge, aside .widget_cws_benefits .cws-widget-content .text_part, aside .widget_shopping_cart_content, aside .woocommerce.widget_price_filter>form, aside .woocommerce.widget_product_categories .product-categories, aside .woocommerce.widget_products .product_list_widget, aside .woocommerce.widget_product_search>form, aside .woocommerce.widget_recent_reviews .product_list_widget, aside .woocommerce.widget_recently_viewed_products .product_list_widget, aside .woocommerce.widget_top_rated_products .product_list_widget, aside .woocommerce.widget_layered_nav_filters>ul, .flickr-badge img, .kids_image_wrapper, .woocommerce .product_list_widget img{ border-color: #<span>cws_theme_color_middle#</span>; } .kids_top_content_middle, .post-entry, .accordion_content, .callout_widget .icons_part, .pagenavi .page, .pagenavi .nextpostslink, .pagenavi .prevpostslink, .pagenavi a.page-numbers, .tab_items, .tab_container, .widget.woocommerce.widget_price_filter .ui-slider-range, .pricing_table_column .button_part, .page-content blockquote, .testimonial{ background-color: #<span>cws_theme_color_middle#</span>; } .chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .country_select{ background: #<span>cws_theme_color_middle#</span>; } /* sand color */ hr{ border-color: #<span>cws_theme_color_middle_helper#</span>; }
        </div>
        <div id="tuner-style-3" class="tuner-style" style="display: none;">
            /* Colors for middle content helper */ .media-block .kids_picture, body.home .kids_top_content_middle.homepage .bottom-border, .kids_top_content_middle, .entry-container #comments ol > .comment, .entry-container .children .comment, form textarea, input[type*="text"], input[type="password"], input[type="email"], .user-login input[type="text"], .search input[type="text"], .contact-us input[type="text"], .contact-us textarea, .wpcf7 input, .pricing_table_column, .flxmap-container, .entry-container #respond_block, .avatar, pre, table, th, td, .kids_posts_container .widget_wrapper>div, .tabs .tab, .accordion_section, .accordion_widget, .toggle_widget, .tab_items, .slogan:after, .callout_widget, img.border, select, .woocommerce-ordering>select, .woocommerce-result-count+ul.products, .woocommerce-ordering+ul.products, .content-wrapper figure, .woocommerce div.product div.images div.thumbnails .content-wrapper figure, .woocommerce-page div.product div.images div.thumbnails .content-wrapper figure, .woocommerce-page #reviews #comments ol.commentlist li, .woocommerce-tabs #reviews #comments ol.commentlist li, .woocommerce .product-thumbnail img, .chosen-container-single .chosen-single, .chosen-container .chosen-drop, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-search input[type=text], #order_review, .iso-column .iso-item, .portfolio>.item, .portfolio .filter, .widget.woocommerce.widget_shopping_cart ul>li, .widget.woocommerce.widget_price_filter .ui-slider-horizontal, .widget.woocommerce.widget_price_filter .ui-slider-handle, .widget.woocommerce.widget_product_categories li, .widget.woocommerce.widget_layered_nav li, .widget.woocommerce.widget_product_categories li ul li:first-child, .widget.woocommerce.widget_layered_nav li ul li:first-child, .widget.woocommerce.widget_shopping_cart ul>li, .woocommerce .product_list_widget>li, ul.tabs>li, .woocommerce-page .shipping_calculator, .woocommerce-page .cart_totals, .woocommerce-page .shipping_calculator .shipping-calculator-form .country_to_state, main .cws_tweets ul.latest_tweets li li, aside .cws_tweets ul.latest_tweets li li, aside .widget_recent_entries ul li, aside .widget_archive ul li, aside .widget_pages ul li, aside .widget_nav_menu ul li, aside .cws_tweets ul.latest_tweets li li, aside .widget_categories ul li, aside .widget_recent_comments ul li, aside .gl_cat ul > li, aside .nav_cat ul > li, aside .latest-posts-widget ul li, aside .widget_meta ul li, .tab_container, .widget_recent_entries ul li, .widget_archive ul li, .widget_pages ul li, .widget_nav_menu ul li, .widget_categories ul li, .widget_recent_comments ul li, .widget_meta ul li, .widget.woocommerce.widget_product_categories li, .widget.woocommerce.widget_layered_nav li, .latest-posts-widget ul li, .gl_cat ul > li, .nav_cat ul > li, ul.latest_tweets li li, .widget_calendar #calendar_wrap, .country_select{ border-color: #<span>cws_theme_color_middle_helper#</span>; } .owl-carousel .owl-buttons>div, main .cws-widget .carousel_header .widget_carousel_nav i, .pricing_table_column .price_part, .pricing_table_header, .tabs .tab.active, .accordion_section.active .accordion_title, .accordion_section .accordion_title:hover, .pagenavi .current, .pagenavi .page:hover, .pagenavi .prevpostslink:hover, .pagenavi .nextpostslink:hover, .pagenavi a.page-numbers:hover, .widget_calendar table td#today:before, .widget_calendar table td>a:before, .post-footer, ul.tabs>li.active, .post-meta .post-comments, .widget_calendar caption{ background-color: #<span>cws_theme_color_middle_helper#</span>; }
        </div>
        <div id="tuner-style-4" class="tuner-style" style="display: none;">
            /* Colors for: footer */ .footer, .footer .widget_calendar table tbody, .top-panel .widget_calendar table tbody, .top-panel, #kids_header .kids_social .openbtn a, #kids_header .kids_social span, #kids_header .kids_social li.hide, .kids_social .lang_bar>div>ul a:after, .kids_social .lang_bar>div>ul a:before{ background-color: #<span>cws_footer_color#</span>; } #kids_header .kids_social li, .kids_social .lang_bar>div>ul>li>a:before{ background-color: #<span>rgba(#cws_footer_color_rgb#,0.65)</span>; } .top-panel{ border-color: #<span>cws_footer_color#</span>; }
        </div>
        <div id="tuner-style-5" class="tuner-style" style="display: none;">
            /* Colors for: top bar, menu, buttons, widget titles */ .cws_button , .kids_curtain:before, .accordion li a.opener:before, ul li:before, .post-meta .post-date:before,b.trigger:before, b.trigger:before, .accordion_title .accordion_icon, .accordion_title .acc_featured_icon, aside .widget h3.widget-title, aside .widget.type-3 h3.widget-title .cloud-element-1:before, aside .widget.type-3 h3.widget-title .cloud-element-1:after, aside .widget.type-3 h3.widget-title .cloud-element-2:before, aside .widget.type-3 h3.widget-title .cloud-element-2:after, aside .widget.type-3 h3.widget-title .cloud-element-3:before, aside .widget.type-3 h3.widget-title .cloud-element-3:after, #kids_main_nav ul ul li:hover, #kids_main_nav > ul > li > a:before, #kids_main_nav ul ul, .touch_device #kids_main_nav>ul, .single_bar .progress, #respond_block .comment-reply-link, #respond_block .comment-edit-link, #post_comment, #search-form .button, .wpcf7 input[type="submit"], input[type="radio"]:checked:before, .soc_icon.fa, .woocommerce .widget_shopping_cart_content .buttons a.button, .woocommerce .products a.add_to_cart_button, .woocommerce .products a.added_to_cart, .woocommerce-page .button, .woocommerce-page [type="submit"], .woocommerce-page [type="button"]:not(.plus):not(.minus), .woocommerce-page .added_to_cart, .woocommerce .button, .woocommerce [type="submit"], .woocommerce [type="button"]:not(.plus):not(.minus), .woocommerce .added_to_cart, #kids-back-top span, .gl_cat .backLava, .nav_cat .backLava, .owl-controls.clickable .owl-pagination .owl-page.active span, .tparrows.default:after, .menu-button{ background-color: #<span>cws_menu_color#</span>; } @media screen and (max-width: 980px){ #kids_main_nav>ul{ background-color: #<span>cws_menu_color#</span>; } } .pricing_table_header .title, .widget_categories ul li:before, .catappendspan:before{ color: #<span>cws_menu_color#</span>; } input[type="checkbox"]:before{ color: #<span>cws_menu_color#</span>; }
        </div>
        <style id="cws-cp-1"></style>
        <style id="cws-cp-2"></style>
        <style id="cws-cp-3"></style>
        <style id="cws-cp-4"></style>
        <style id="cws-cp-5"></style>
        <!--/ tuner -->

        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/retina.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.tweet.js') }}"></script>
        <script  src="{{ asset('bundles/Assets/js/jquery.lavalamp-1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.easing-1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/owl.carousel.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.isotope.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.flexnav.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/jquery.prettyPhoto.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/Assets/js/calender.js') }}"></script>

        <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/colorpicker.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/tuner/js/scripts.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/revslider/jquery.themepunch.revolution.min.js') }}"></script>
        <script type='text/javascript' src="{{ asset('bundles/Assets/revslider/jquery.themepunch.tools.min.js') }}"></script>






        <div class="colorpicker" id="collorpicker_352"><div class="colorpicker_color" style="background-color: rgb(0, 136, 255);"><div><div style="left: 58px; top: 12px;"></div></div></div><div class="colorpicker_hue"><div style="top: 63px;"></div></div><div class="colorpicker_new_color" style="background-color: rgb(143, 192, 234);"></div><div class="colorpicker_current_color" style="background-color: rgb(143, 192, 234);"></div><div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div><div class="colorpicker_rgb_r colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_g colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_h colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_s colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_submit"></div></div><div class="colorpicker" id="collorpicker_439"><div class="colorpicker_color" style="background-color: rgb(255, 208, 0);"><div><div style="left: 23px; top: 1px;"></div></div></div><div class="colorpicker_hue"><div style="top: 129px;"></div></div><div class="colorpicker_new_color" style="background-color: rgb(252, 245, 213);"></div><div class="colorpicker_current_color" style="background-color: rgb(252, 245, 213);"></div><div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div><div class="colorpicker_rgb_r colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_g colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_h colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_s colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_submit"></div></div><div class="colorpicker" id="collorpicker_294"><div class="colorpicker_color" style="background-color: rgb(255, 174, 0);"><div><div style="left: 43px; top: 0px;"></div></div></div><div class="colorpicker_hue"><div style="top: 133px;"></div></div><div class="colorpicker_new_color" style="background-color: rgb(254, 231, 180);"></div><div class="colorpicker_current_color" style="background-color: rgb(254, 231, 180);"></div><div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div><div class="colorpicker_rgb_r colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_g colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_h colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_s colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_submit"></div></div><div class="colorpicker" id="collorpicker_822"><div class="colorpicker_color" style="background-color: rgb(0, 140, 255);"><div><div style="left: 113px; top: 30px;"></div></div></div><div class="colorpicker_hue"><div style="top: 63px;"></div></div><div class="colorpicker_new_color" style="background-color: rgb(49, 134, 203);"></div><div class="colorpicker_current_color" style="background-color: rgb(49, 134, 203);"></div><div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div><div class="colorpicker_rgb_r colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_g colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_h colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_s colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_submit"></div></div><div class="colorpicker" id="collorpicker_345"><div class="colorpicker_color" style="background-color: rgb(0, 140, 255);"><div><div style="left: 113px; top: 30px;"></div></div></div><div class="colorpicker_hue"><div style="top: 63px;"></div></div><div class="colorpicker_new_color" style="background-color: rgb(49, 134, 203);"></div><div class="colorpicker_current_color" style="background-color: rgb(49, 134, 203);"></div><div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div><div class="colorpicker_rgb_r colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_g colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_rgb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_h colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_s colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_hsb_b colorpicker_field"><input type="text" maxlength="3" size="3"><span></span></div><div class="colorpicker_submit"></div></div><div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div><div id="kids-back-top" style="display: block;"><a href="#top" title="Back to Top"><span></span></a></div>






        </body>







</html>
